<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons class="p1" slot="end">
      <div class="stepper active"></div>
      <div class="stepper active"></div>
      <div class="stepper"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <form [formGroup]="verificationForm" (ngSubmit)="registerRetail()">
      <div class="form-inner">
        <div class="form-header">
          <h3>Kurumsal Hesap</h3>
          <ion-note>Lütfen gerekli belgeleri sisteme yükleyiniz.</ion-note>
        </div>
        <div class="form-items">
          <ion-item button detail="false" class="item-input" lines="none" (click)="chooseSignature()">
            <span slot="start">
              <img src="../../../../assets/img/icon/folderAdd.svg" />
            </span>
            <ion-input readonly placeholder="İmza Sirküleri" formControlName="signature"></ion-input>
            <span slot="end">
              <p class="btn-choose">SEÇ</p>
            </span>
          </ion-item>
          <ion-item button detail="false" class="item-input" lines="none" (click)="chooseSignature()">
            <span slot="start">
              <img src="../../../../assets/img/icon/folderAdd.svg" />
            </span>
            <ion-input readonly placeholder="Vergi Levhası" formControlName="signature"></ion-input>
            <span slot="end">
              <p class="btn-choose">SEÇ</p>
            </span>
          </ion-item>
          <ion-item button detail="false" class="item-input" lines="none" (click)="chooseSignature()">
            <span slot="start">
              <img src="../../../../assets/img/icon/folderAdd.svg" />
            </span>
            <ion-input readonly placeholder="Sicil Gazetesi" formControlName="signature"></ion-input>
            <span slot="end">
              <p class="btn-choose">SEÇ</p>
            </span>
          </ion-item>
          <ion-item button detail="false" class="item-input" lines="none" (click)="chooseSignature()">
            <span slot="start">
              <img src="../../../../assets/img/icon/folderAdd.svg" />
            </span>
            <ion-input readonly placeholder="Şirket faaliyet belgesi" formControlName="signature"></ion-input>
            <span slot="end">
              <p class="btn-choose">SEÇ</p>
            </span>
          </ion-item>

        </div>
      </div>
      <div class="form-footer">
        <ion-button routerDirection="forward" [routerLink]="['../verification-complate']" size="block" color="primary">
          DEVAM</ion-button>
      </div>
    </form>
  </div>
</ion-content>