ion-toolbar {
    --background: white;
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
    --border-width: 0 !important;
  }
  .username-input {
    --background: #f6f5f1;
    border-radius: 10px;
    font-size: 14px;
  }
  
  a {
    color: #f1bc00;
  }
  
  h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
  }
  .input-checkbox {
    font-size: 13px;
    text-align: center;
    margin: 0 20px;
    line-height: 20px;
    .checkbox {
      // margin-right: 10px;
  
      width: 20px;
      height: 18px;
      background: #ffffff;
      border: 1px solid var(--ion-color-light);
  
      &.active {
        background: url("../../../assets/svg/check.svg") center no-repeat
          #f1bc00;
        border: unset;
      }
    }
  
    .label {
      line-height: 20px;
  
      .link {
        text-decoration: none;
        font-weight: 600;
      }
    }
  }
  
  .register-horizontal {
    position: absolute;
    bottom: -75px;
    right: 17%;
  }
  
  .grid-container {
    padding: 14px;
  
    .select-content {
      border: 1px solid var(--ion-color-primary);
      border-radius: 16px;
      display: flex;
      height: 56px;
      align-items: center;
      justify-content: center;
      padding: 0 12px;
      font-size: 1em;
      line-height: 18px;
      color: var(--ion-color-primary);
  
      &.active {
        background: var(--ion-color-primary);
        border: 1px solid var(--ion-color-primary) !important;
        color: #fefefe;
      }
    }
  }
  .stepper-div {
    background: #f0efe9;
    margin: 0 1.5px;
    width: 36px;
    height: 8px;
    border-radius: 10px;
  }
  .stepper-div-color {
    background: #f1bf4b 50%;
  }
  .stepper-div-half-color {
    background: linear-gradient(90deg, #f1bf4b 50%, #f0efe9 50%);
  }
  ion-input {
    pointer-events: none;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: auto;
    --padding-start: 10px;
    font-size: 24px;
    border-radius: 50%;
    font-weight: bold;
  }
  .input-active {
    --background: #f1bf4b;
  }
  .input-deactive {
    --background: #d2d6e1;
  }
  p {
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 3px;
  }
  ion-note {
    font-size: 12px;
  }
  ion-icon {
    color: #f1bc00;
    width: 30px;
    height: 30px;
  }
  .row-border {
    margin-top: 5%;
    border-radius: 8px;
    border: solid 2px #f1f1f1;
    padding: 10px;
  }
  