<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content> 

  <div    class="form-container" style="margin: 16px">
    <ion-grid class="gap-list">  
      <ion-row style="margin-top: 45%; text-align: center;" >
        <ion-col>
          <h3>Bildirimler Önemli!</h3>
          <p style="  margin: 0px 20px;  font-size: 14px;
          ">Önemli konularda sana bildirim gönderebilmemiz için bildirimlerini şimdi aç!</p>
        </ion-col>
      </ion-row>
 
 
    </ion-grid>
  </div> 
</ion-content>
<ion-footer>
  <ion-button
    size="block" 
    color="primary" 
    style="margin: 0" 
    >BİLDİRİMLERİ AKTİFLEŞTİR</ion-button
  >
  <ion-button
  routerDirection="forward"   
  [routerLink]="['../../app/home']"
    size="block" 
    color="medium"
    fill="outline" 
    style="margin: 0" 
    >BU ADIMI ATLA</ion-button
  >
</ion-footer>