<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <div class="form-inner">
      <div class="animation">
        <img class="particle" src="../../../../assets/img/auth/particle.svg" alt="" />
        <img src="../../../../assets/img/auth/tick.svg" alt="" />
      </div>
      <div class="form-items">
        <h3>Aramıza Hoşgeldin!</h3>
        <p>hello@gmail.com hesabına bir doğrulama e-postası gönderdik. Lütfen linke tıklayarak doğrulama işlemini
          yap.</p>
      </div>
    </div>
    <div class="form-footer">
      <ion-button routerDirection="forward" [routerLink]="['../verification-notification']" size="block" color="primary">TAMAMLA</ion-button>
    </div>
  </div>
</ion-content>