<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

 

<ion-content>
  <div style="text-align: start; margin: 20px 0px 0px 0px;">
    <ion-item lines="none">
      <h4><b>İşlem Limitlerim</b></h4> 
    </ion-item>
  </div> 
  
  <ion-item lines="none"> 
    <ion-note >
      YATIR
    </ion-note>
  </ion-item>
    <ion-item style=" --background: #F6F5F1;    ;font-size: 12px; margin:0px 20px;
    " lines="none">
      <p slot="start">Altın</p>
      <p slot="end" style="color: #080A1E; font-weight: bold;">Limitsiz</p>
    </ion-item> 
    <ion-item style=" --background: #F6F5F1;    ;font-size: 12px; margin:0px 20px;
    " lines="none">
      <p slot="start">24 Saat TRY</p>
      <p slot="end" style="color: #080A1E; font-weight: bold;">5,000,000 TRY</p>
    </ion-item> 
    <ion-item style=" --background: #F6F5F1;    ;font-size: 12px; margin:0px 20px;
    " lines="none">
      <p slot="start">30 Gün TRY</p>
      <p slot="end" style="color: #080A1E; font-weight: bold;">20,000,000 TRY</p>
    </ion-item> 
    
    <ion-item lines="none"> 
      <ion-note >
        ÇEK
      </ion-note>
    </ion-item>
      <ion-item style=" --background: #F6F5F1;    ;font-size: 12px; margin:0px 20px;
      " lines="none">
        <p slot="start">Altın</p>
        <p slot="end" style="color: #080A1E; font-weight: bold;">Çekim Yapamaz</p>
      </ion-item> 
      <ion-item style=" --background: #F6F5F1;    ;font-size: 12px; margin:0px 20px;
      " lines="none">
        <p slot="start">24 Saat TRY</p>
        <p slot="end" style="color: #080A1E; font-weight: bold;">5,000,000 TRY</p>
      </ion-item> 
      <ion-item style=" --background: #F6F5F1;    ;font-size: 12px; margin:0px 20px;
      " lines="none">
        <p slot="start">30 Gün TRY</p>
        <p slot="end" style="color: #080A1E; font-weight: bold;">20,000,000 TRY</p>
      </ion-item> 

   

  
</ion-content>

