<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <div class="form-inner">
      <div class="form-header">
        <h3>Teslimat Adresi</h3>
        <ion-note>Adresinizi seçiniz</ion-note>
      </div>
      <div class="form-items">
        <ion-item outerDirection="forward"
        [routerLink]="['../orders-approve']" button detail="false" class="item-large-select" lines="none">
          <ion-label>
            <p>Ofis </p>
            <ion-note class="ion-text-wrap">Kuruçeşme Mahallesi Yeşilpınar Sokak Seden Apt. No:8/2 Beşiktaş / İSTANBUL 34345 </ion-note>
          </ion-label>
        </ion-item>
        <ion-item outerDirection="forward"
        [routerLink]="['../orders-approve']" button detail="false" class="item-large-select" lines="none">
          <ion-label>
            <p>Ev </p>
            <ion-note class="ion-text-wrap">Kuruçeşme Mahallesi Yeşilpınar Sokak Seden Apt. No:8/2 Beşiktaş / İSTANBUL 34345 </ion-note>
          </ion-label>
        </ion-item>
      </div>
    </div>
    <div class="form-footer">
      <ion-button size="block" color="primary" style="margin: 0" routerDirection="forward"
        [routerLink]="['../orders-approve']">SİPARİŞ OLUŞTUR</ion-button>
    </div>
  </div>
</ion-content>