.content {
    padding: 16px;
    ion-item{
        --min-height:0px;
        --padding-top: 0px;
        --padding-start: 0px;
        --padding-end: 0px;
        --inner-padding-end: 0;
      
        padding-inline-end: 0px; 
        font-size: 14px;
    }
    ion-label{
        margin: 0px;
    } 
    .small-item{
        --padding-start: 0px;
        border: none;
        margin-bottom: 16px;

    }
    .smallB{
        font-size: 10px;
        color: black;
    }
    .small{
        font-size: 10px;
        color: #7C7F97  ;
    }
    .border{
        padding: 16px;
        border: solid 1px #ECECEC;
        margin-bottom: 16px;
   
    }
    h2{
        margin-top: 10px; 
        font-weight: bold;
    }
    .desc{
        margin-top: 10px; 
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.5px; 
        color: #333333;
    }

    img {
        width: 100%;
    }
  }