<ion-header mode="ios"  >
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="tabs/analysis"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <img src="../../../assets/icon/yatirimim.png" alt="" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="haber">
    <ion-item class="border" lines="none"   > 
      <ion-label>
        <ion-item class="small-item" lines="none">
          <p class="smallB" slot="start"><b>HABER </b> 29 ARALIK</p>
          <p class="small" slot="end">00:01:26</p>
        </ion-item>
        <img src="../../../assets/icon/makale.png" alt="" />
        <h2 class="ion-text-wrap">
          ALTIN VE GÜMÜŞ PIYASALARINDA HAFIF BASKI GÖRÜLÜYOR
        </h2>
        <p class="ion-text-wrap desc">
          Nymex ham petrol fiyatı hafif gerileyerek varil başına 73 $ seviyesinden işlem görüyor. Bu arada 10 yıllık ABD Hazine tahvil getirisi ise %1.481 seviyesinde.
          <br>          <br>

          Pazartesi işlem gününde altın ve gümüş fiyatları çok hafif gerileyerek işlem görüyor. Yılın son haftasında dolar endeksi kısmi güçlenmiş ve ham petrol fiyatları daha düşük seviyelerden işlem görüyor. Piyasalarda görülen riskten kaçınma duygusuyla kazançlar bastırılıyor. 
          <br>          <br>


          Şubat ayı altın vadelileri 3.90 $ gerileyerek ons başına 1807.70 $ seviyesinden işlem görürken Mart ayı Comex gümüşü 0.175 $ düşüşle ons başına 22.765 $ seviyesinde alıcı buluyor. Spot piyasalarda ons altın 1809 $ seviyesinde işleme konuluyor.
          Küresel hisse senedi piyasaları tatil dönemi sessizliğinde. ABD hisse endeksleri ufak kazanımlarla güne başladı.
           
        </p>
      </ion-label>
    
    </ion-item>
  </div>

</ion-content>
