ion-toolbar {
    --background: white;
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
    --border-width: 0 !important;
  }
  .username-input {
    --background: #f6f5f1;
    border-radius: 10px;
    font-size: 14px;
  }
  
  a {
    color: #f1bc00;
  }
  ion-note{
    font-size: 14px;
    line-height: 17.57px;
    color: #7C7F97;
  }
  h3 {
    font-size: 20px;
    line-height: 33px;
    font-weight: bold;
  }
  
  .register-horizontal {
    position: absolute;
    bottom: -75px;
    right: 17%;
  }
  
  .grid-container {
    padding: 14px;
  
    .select-content {
      border: 1px solid var(--ion-color-primary);
      border-radius: 16px;
      display: flex;
      height: 56px;
      align-items: center;
      justify-content: center;
      padding: 0 12px;
      font-size: 1em;
      line-height: 18px;
      color: var(--ion-color-primary);
  
      &.active {
        background: var(--ion-color-primary);
        border: 1px solid var(--ion-color-primary) !important;
        color: #fefefe;
      }
    }
  }
  .stepper-div {
    background: #f0efe9;
    margin: 0 1.5px;
    width: 36px;
    height: 8px;
    border-radius: 10px;
  }
  .stepper-div-color {
    background: #f1bf4b 50%;
  }
  .stepper-div-half-color {
    background: linear-gradient(90deg, #f1bf4b 50%, #f0efe9 50%);
  }