<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  class="form-container" style="margin: 5px">
    <form [formGroup]="passwordForm" (ngSubmit)="registerRetail()">
      <ion-grid class="gap-list">
        <ion-row style="margin-top: 10%">
          <ion-col>
            <h4>Şifre Değişikliği</h4>
          </ion-col>
        </ion-row>

        
        <ion-row>
          <ion-col>
            <ion-item lines="none" class="username-input">
              <ion-input placeholder="Mevcut Şifre" formControlName="currentPassword"></ion-input>
              <span style="padding-left: 3px; color: #9b9b9b; font-weight: bold">
                <ion-icon name="eye-outline"></ion-icon>
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none" class="username-input">
              <ion-input placeholder="Yeni Şifre" formControlName="newPassword"></ion-input>
              <span style="padding-left: 3px; color: #9b9b9b; font-weight: bold">
                <ion-icon name="eye-outline"></ion-icon>
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none" class="username-input">
              <ion-input placeholder="Yeni Şifre Tekrar" formControlName="repeatPassword"></ion-input>
              <span style="padding-left: 3px; color: #9b9b9b; font-weight: bold">
                <ion-icon name="eye-outline"></ion-icon>
              </span>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="none" style=" --padding-start:10px">
            <p style="    font-size: 12px;
            ">
              Şifreniz en az bir harf, rakam veya özel karakter içermeli. Ayrıca şifreniz en az 8 karakterden oluşmalı.
            </p>
            </ion-item>
          </ion-col>
        </ion-row>
 
        <ion-row style="margin-top: 50%">
          <ion-col>
            <ion-button     routerDirection="forward"  
            [routerLink]="['password-approve']" size="block" color="warning"  
              style="margin: 0">GÜNCELLE</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
