<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="wallet">
      <img src="../../assets/img/icon/tabWallet.svg" />
      <ion-label>Cüzdanım</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analysis">
      <img src="../../assets/img/icon/tabAnalysis.svg" />
      <ion-label>Analiz</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trade">
      <img src="../../assets/img/icon/tabTrade.svg" />
      <ion-label>Al-Sat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transfer">
      <img src="../../assets/img/icon/tabDeposit.svg" />
      <ion-label>Yatır-Çek</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analysis/portfolio">
      <img src="../../assets/img/icon/tabPortfolio.svg" />
      <ion-label>Model</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
