<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="wallet">
      <img src="../../../assets/svg/wallet.svg" />
      <ion-label>Cüzdanım</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analysis">
      <img src="../../../assets/svg/analiz.svg" />
      <ion-label>Analiz</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trade/buy">
      <img src="../../../assets/svg/al:sat.svg" />
      <ion-label>Al/Sat</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="presentModal()">
      <img src="../../../assets/svg/yatir:cek.svg" />
      <ion-label>Yatır-Çek</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analysis/portfolio">
      <img src="../../../assets/svg/calculator.svg" />
      <ion-label>R.M.D</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
