ion-header {
    ion-toolbar {
      --border-width: 0px;
      --background: white;
    }
  }
  .info{
    text-align: center;
    font-weight: bold;
    p{
      font-size: 12px;
      font-weight: bold;
    }
    h3{
      font-weight: bold;
    }
  }
  .process-btn{
    margin: 10px;

    div{
      width: 73px;
      font-size: 12px;
      text-align: center;
      height: 84px;
      border-radius: 10px;
      border: solid 1px #E9E9E9;
    }
    ion-icon{
      width: 40px;
      margin: 10px 10px 5px 10px;
      height: 40px;
      color: #F1BC00;
    }

  }
  .md-div {
    margin: 22px 20px;
  }
  .list-row{
    ion-row{
      margin: 15px;
      border: solid 1px #E9E9E9 ;
      border-radius: 10px;
      ion-col
      {
        margin: auto;
        div{
          text-align: center;
          img{
            width: 35px;
            height: 35px;
          }
      
        }
        h4{
          font-size: 14px;
          font-weight: bold;
        }
        p{
          font-size: 10px;
          color: black;
        }
        ion-note{
          font-size: 10px;

        }
        .end{
         
          h4{
            font-size: 16px; 
          }
          p{
            font-size: 12px;  
          }
        }
      } 
    }
  }
  .select-div {
    .remove-arrow::part(icon) {
      display: none !important;
    }
    margin: 10px 10px;
    ion-item {
      border-radius: 10px;
      --background: #f6f5f1;
      font-size: 12px;
      --min-height: 40px;
    }
    ion-icon {
      padding: 3px;
    }
  }
  .variable-header-div {
    margin: 10px 20px;
    margin: 15px;
  
    h3{
      font-size: 20px;
      font-weight: bold;
    }
    h4{
      font-size: 14px;
      font-weight: bold;
    }
  }
  .share-div{
    border-bottom: solid 1px #f1f1f1;
    border-top: solid 1px #f1f1f1;
   
    ion-item{ 
    margin: 18px;
    border: solid 1px #E9E9E9;
    border-radius: 10px;
      p{
        font-size: 12px;
        font-weight: bold;
      }
      ion-icon{
        color: #F1BC00 ;  
        width: 20px;
        height: 20px;  
      }
    }
  }
  .variable-header-div {
    margin: 10px 20px;
   // border-bottom: solid 1px #f1f1f1;
  }
  .variable-div {
    ion-item {

    --padding-start: 7px;

      border-bottom: solid 1px #f1f1f1;
      --min-height: 35px;
      font-size: 11px;
     div{
      margin-left: auto;
      margin-right: auto;
      .up{
        color: #16C784
        ;
      }
      .down{
        color: #FF4747
        ;
      }
      }
    }
    .p3 {
      color: #7c7f97;
      margin: 0;
      text-align: center;

    }
    .p1 {
      text-align: start;
      margin: 0;
       font-weight: bold;
    }
    .p2 {
      text-align: end;
      margin: 0;
       font-weight: bold;
    }
  }
  ion-footer {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
    ion-toolbar {
      --min-height: 60px !important;
      --border-style: none;
    }
    ion-tab-bar {
      height: 60px !important;
      --background: white;
      border: 0px !important;
      border-top-color: transparent !important;
      background-image: none !important;
      border-top: none !important;
    }
    ion-tab-button {
      color: black;
    }
  
    ion-button {
      width: 85px;
      height: 35px;
      display: block;
    }
    .btn1 {
      margin: 0 10px 0 20px;
    }
    .btn2 {
      margin: 0 20px 0 0px;
    }
  }