<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div    class="form-container" style="margin: 16px"> 
    <ion-grid class="gap-list">
      <ion-row style="margin-top: 0%;">
        <ion-col>
          <h3>Fiziki Çekim </h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-note>Çekim yapmak istediğiniz hesabı seçin</ion-note>
        </ion-col>
      </ion-row>
  <div class="list-row">
    <ion-row    routerDirection="forward"   [routerLink]="['orders']"> 
      <ion-col size="2">
        <div  >
          <img    src="../../../assets/icon/groupG.png" alt="" />
        </div>
      </ion-col>
      <ion-col size="4">
        <ion-label>
          <h4>Altin</h4>
          <p>999.0/1000</p>
          
        </ion-label>
      </ion-col>
      <ion-col size="3">
        <div  >
          <img    src="../../../assets/icon/chartD.png" alt="" />
        </div>
      </ion-col>
      <ion-col size="3" class="end" style=" text-align: end;  ">
        <ion-label>
          <h4>10 gr</h4>
          <p>1200 TL</p> 
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row   routerDirection="forward"   [routerLink]="['orders']"> 
      <ion-col size="2">
        <div  >
          <img    src="../../../assets/icon/groupS.png" alt="" />
        </div>
      </ion-col>
      <ion-col size="4">
        <ion-label>
          <h4>Gümüş</h4>
          <p>999.0/1000</p>
          <ion-note>Bonus: 10gr</ion-note>
        </ion-label>
      </ion-col>
      <ion-col size="3">
        <div  >
          <img    src="../../../assets/icon/chartD.png" alt="" />
        </div>
      </ion-col>
      <ion-col size="3" class="end" style="text-align: end;">
        <ion-label>
          <h4>10 gr</h4>
          <p>1200 TL</p> 
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row   routerDirection="forward"   [routerLink]="['orders']"> 
      <ion-col size="2">
        <div  >
          <img    src="../../../assets/icon/groupPd.png" alt="" />
        </div>
      </ion-col>
      <ion-col size="4">
        <ion-label>
          <h4>Paladyum</h4>
          <p>999.0/1000</p> 
        </ion-label>
      </ion-col>
      <ion-col size="3">
        <div  >
          <img    src="../../../assets/icon/chartU.png" alt="" />
        </div>
      </ion-col>
      <ion-col size="3" class="end" style="text-align: end;">
        <ion-label>
          <h4>10 gr</h4>
          <p>1200 TL</p> 
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row   routerDirection="forward"   [routerLink]="['orders']"> 
      <ion-col size="2">
        <div  >
          <img    src="../../../assets/icon/groupPt.png" alt="" />
        </div>
      </ion-col>
      <ion-col size="4">
        <ion-label>
          <h4>Platin</h4>
          <p>999.0/1000</p> 
        </ion-label>
      </ion-col>
      <ion-col size="3">
        <div  >
          <img    src="../../../assets/icon/chartD.png" alt="" />
        </div>
      </ion-col>
      <ion-col size="3" class="end" style="text-align: end;">
        <ion-label>
          <h4>10 gr</h4>
          <p>1200 TL</p> 
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row    routerDirection="forward"   [routerLink]="['orders']"> 
      <ion-col size="2">
        <div  >
          <img    src="../../../assets/icon/groupT.png" alt="" />
        </div>
      </ion-col>
      <ion-col size="4">
        <ion-label>
          <h4>Nakit</h4>
          <p>TL Cinsi</p> 
        </ion-label>
      </ion-col>
      <ion-col size="3">
        <div  >
          <img    src="../../../assets/icon/chartU.png" alt="" />
        </div>
      </ion-col>
      <ion-col size="3" class="end" style="text-align: end;">
        <ion-label>
          <h4>10.000 TL</h4>
          <p>1200 TL</p> 
        </ion-label>
      </ion-col>
    </ion-row>
  </div>
  <ion-row style="margin-top: 10%">
    <ion-col>
    
    </ion-col>
  </ion-row>
</ion-grid></div>
</ion-content>
<ion-footer>
  <ion-button 
      routerDirection="forward"  
      [routerLink]="['orders']"
        size="full" 
        color="warning" 
        style="margin: 0" 
        >SİPARİŞ OLUŞTUR</ion-button
      >
</ion-footer>