<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="form-container">
    <div class="form-inner">
      <div class="form-header">
        <h3>Hesaba Çekim</h3>
        <ion-note>Hesabınıza para çekmek için aşağıdaki bilgileri kontrol edin ve onaylayın.</ion-note>
      </div>
      <div class="form-items">
        <ion-item button detail="false" class="item-large-select" lines="none">
          <img slot="start" src="../../../../../assets/img/bank/fiba.svg" alt="" />
          <ion-label>
            <p>{{request?.userBankAccount?.name}} <span>- {{request?.userBankAccount?.bank?.name}}</span></p>
            <ion-note>{{request?.userBankAccount?.accountNo}}</ion-note>
          </ion-label> 
        </ion-item>
       
        <div class="summary">
          <ion-item lines="none">
            <ion-label slot="start">Çekilecek Tutar</ion-label>
            <p slot="end">{{request?.price | number: '1.2-2'}} TRY</p>
          </ion-item>
          <ion-item lines="none">
            <ion-label slot="start">İşlem Ücreti</ion-label>
            <p slot="end"> {{request?.commission | number: '1.2-2'}} TRY</p>
          </ion-item>
          <hr>
          <ion-item lines="none">
            <ion-label slot="start">Toplam Miktar</ion-label>
            <p slot="end"> {{request?.transactionAmount | number: '1.2-2'}} TRY</p>
          </ion-item>
        </div>
      </div>
    </div>
    <div class="form-footer">
      <ion-button routerDirection="forward" [routerLink]="['approve-account']" size="block" color="primary">ONAYLA
      </ion-button>
    </div>
  </div>
</ion-content>

 