<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div    class="form-container" style="margin: 10px">
    <ion-grid class="gap-list">
      <ion-row style="margin-top: 10%">
        <ion-col>
          <h3>Dil Seçeneği</h3>
        </ion-col>
      </ion-row> 
      <ion-row    style="margin-top: 15%">
        <ion-col>
          <ion-item  class="username-input" lines="none">
            <p slot="start">İngilizce</p> 
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row    style="margin-top: 1%">
        <ion-col>
          <ion-item class="username-input active" lines="none">
            <p slot="start">Türkçe</p> 
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 50%">
        <ion-col>
          <ion-button
          routerDirection="forward"  
         [routerLink]="['../../tabs/home']" 
            size="block" 
            color="warning" 
            style="margin: 0"
           
            >DEĞİŞİKLİKLERİ KAYDET</ion-button
          >
        </ion-col>
      </ion-row>
 
    </ion-grid>
  </div> 
</ion-content>
