<ion-header mode="ios"  >
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="tabs/home/wallet"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <img src="../../../assets/icon/yatirimim.png" alt="" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
   
 
  <div     class="variable-div">
    <div class="variable-header-div">
      <h4>Altın</h4>
      <h3>608,10 TL</h3>
      <p> 202,52 TL
        <ion-icon name="caret-up"></ion-icon>  
        -%2,5
      </p> 
    </div>
    <div class="select-div">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-icon name="time-outline"></ion-icon>
              <ion-select value="enable" interface="action-sheet">
                <ion-select-option value="enable">30 Dakika</ion-select-option>
                <ion-select-option value="mute">15 Dakika</ion-select-option>
                <ion-select-option value="mute_week"
                  >30 Dakika</ion-select-option
                >
                <ion-select-option value="mute_year">1 Saat</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none" style="--background: none; border-bottom:none">
              <p style="padding-right: 3px;">USD ile Karşılaştır </p>
              <ion-toggle checked color="warning"></ion-toggle>

            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid class="grid-padding">  
          <ion-row size="12" lines="none"> 
            <ion-col class="border-item" style="border-top-left-radius: 10px;" size="4">
              <ion-item  lines="none">
                <p  class="p1" slot="start">
                   Son   
                </p>
                <div style="text-align: end;" slot="end">
                  <p  class="p1" >
                    1.909,21  
                 </p>
                </div>
              </ion-item> 
            </ion-col>
            <ion-col class="border-item"  size="4">
              <ion-item  lines="none">
                <p  class="p1" slot="start">
                  Alış  
                </p>
                <div style="text-align: end;" slot="end">
                  <p  class="p1" >
                    1.909,21  
                 </p>
                </div>
              </ion-item>  
            </ion-col>
            <ion-col style="border-top-right-radius: 10px;" class="border-item"  size="4">
              <ion-item  lines="none">
                <p  class="p1" slot="start">
                  Alış  
                </p>
                <div style="text-align: end;" slot="end">
                  <p  class="p1" >
                    1.909,21  
                 </p>
                </div>
              </ion-item> 
            </ion-col> 
          </ion-row>

          <ion-row size="12" lines="none" > 
            <ion-col class="border-item" style="border-bottom-left-radius: 10px;" size="4">
              <ion-item   lines="none">
                <p  class="p1" slot="start">
                   Son   
                </p>
                <div style="text-align: end;" slot="end">
                  <p  class="p1" >
                    1.909,21  
                 </p>
                </div>
              </ion-item> 
            </ion-col>
            <ion-col class="border-item" size="4">
              <ion-item    lines="none">
                <p  class="p1" slot="start" >
                  Alış  
                </p>
                <div style="text-align: end;"  slot="end">
                  <p  class="p1" >
                    1.909,21  
                 </p>
                </div>
              </ion-item>  
            </ion-col>
            <ion-col class="border-item"  style="border-bottom-right-radius: 10px;"  size="4">
              <ion-item    lines="none">
                <p  class="p1" slot="start">
                  Alış  
                </p>
                <div style="text-align: end;"  slot="end">
                  <p  class="p1" >
                    1.909,21  
                 </p>
                </div>
              </ion-item> 
            </ion-col> 
          </ion-row>
          
         
    </ion-grid>
  
    <div   id="chart2" style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
      <img src="../../../assets/icon/chart3.png" alt="" />

      <!-- <apx-chart
        [series]="chartOptions2.series2"
        [chart]="chartOptions2.chart"
        [xaxis]="chartOptions2.xaxis"
        [stroke]="chartOptions2.stroke"
        [tooltip]="chartOptions2.tooltip"
        [dataLabels]="chartOptions2.dataLabels"
      ></apx-chart> -->
    </div>
  </div>

 
</ion-content>
 