<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <div class="form-inner">
      <div class="form-header">
        <h3>Kredi Kartlarım</h3>
        <ion-note>Para yatırmak istediğiniz kartı seçiniz. Kayıtlı kartınız yok ise yeni kart ekleyerek işleminize devam
          edebilirsiniz. </ion-note>
      </div>
      <div class="form-items">
        <ion-item button detail="false" class="item-large-select" lines="none">
          <p slot="start">5507 **** **** 9247</p>
          <img slot="end" src="../../../assets/icon/master.png" alt="" />
        </ion-item>

        <ion-item button detail="false" class="item-large-select" lines="none">
          <p slot="start">5507 **** **** 9247</p>
          <img slot="end" src="../../../assets/icon/visa.png" alt="" />
        </ion-item>
      </div>
    </div>

    <div class="form-footer">
      <ion-button routerDirection="forward" [routerLink]="['../add-card']" size="block" color="primary">
        YENİ KART EKLE</ion-button>
    </div>

  </div>
</ion-content>