<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div    class="form-container" style="margin: 16px">
    <ion-grid class="gap-list">
      <ion-row >
        <ion-col>
          <h3>Kredi Kartlarım</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-note>Para yatırmak istediğiniz kartı seçiniz. Kayıtlı kartınız yok ise yeni kart ekleyerek işleminize devam edebilirsiniz. </ion-note>
        </ion-col>
      </ion-row>
      <ion-row  routerDirection="forward"  
      [routerLink]="['../pay-card']" style="margin-top: 64px">
        <ion-col>
          <ion-item  class="username-input" lines="none">
            <p slot="start">5507 **** **** 9247</p>
            <img slot="end" src="../../../assets/icon/master.png" alt="" /> 
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row  routerDirection="forward"  
      [routerLink]="['../pay-card']" style="margin-top: 8px">
        <ion-col>
          <ion-item class="username-input" lines="none">
            <p slot="start">5507 **** **** 9247</p>
            <img slot="end" src="../../../assets/icon/visa.png" alt="" /> 
          </ion-item>
        </ion-col>
      </ion-row>  
    </ion-grid>
  </div> 
</ion-content>
<ion-footer>
  <ion-button
  routerDirection="forward"  
 [routerLink]="['../add-card']" 
    size="full" 
    color="warning" 
    style="margin: 0" 
    >YENİ KART EKLE</ion-button
  >
</ion-footer>
