<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div    class="form-container" style="margin: 10px">
    <ion-grid class="gap-list">
      <ion-row style="margin-top: 0%">
        <ion-col>
          <h3>Yeni Banka Hesabı Ekle</h3>
        </ion-col>
      </ion-row> 
      <ion-row   >
        <ion-col>
          <ion-item  class="username-input" lines="none">
            <ion-input placeholder="Hesap Adı "  ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row    >
        <ion-col>
          <ion-item  class="username-input" lines="none">
            <ion-input placeholder="Deram"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row    >
        <ion-col>
          <ion-item  class="username-input" lines="none">
            <ion-input placeholder="IBAN"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item
      style="padding: 0"
      lines="none"
      class="input-checkbox ion-padding d-flex"
    >
      <div
        (click)="isAgreementAccepted= !isAgreementAccepted"
        [ngClass]="{active: isAgreementAccepted}"
        class="checkbox mr-2"
      ></div>
      <div class="label">
        <span class="text" style="font-size: 12px;" (click)="isAgreementAccepted= !isAgreementAccepted">Bu bilgiler TC kimlik numaramla açılmış vadesiz Türk Lirası banka hesabına aittir. Bilgilerin uyuşmaması durumunda para transferin gerçekleşmeyeceğini kabul ediyorum.</span>
    
      </div>
    </ion-item>
 
 
    
 
    </ion-grid>
  </div> 
</ion-content>
<ion-footer>
  <ion-button
  routerDirection="forward"  
 [routerLink]="['../../bank-account']" 
    size="block" 
    color="warning" 
    style="margin: 0"
    
    >HESAP EKLE</ion-button
  >
</ion-footer>