<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <div class="form-inner">
      <div class="form-header">
        <h3>Yeni Banka Hesabı Ekle</h3>
      </div>
      <div class="form-items">
        <ion-item class="username-input" lines="none">
          <ion-input [(ngModel)]="bank" placeholder="Hesap Adı "></ion-input>
        </ion-item>
        <ion-item class="username-input" lines="none">
          <ion-input [(ngModel)]="name" placeholder="İsim"></ion-input>
        </ion-item>
        <ion-item class="username-input" lines="none">
          <ion-input [(ngModel)]="iban" maxlength="26" placeholder="IBAN"></ion-input>
        </ion-item>
        <ion-item    lines="none" class="item-checkbox box ion-padding d-flex">
          <div (click)="isAgreementAccepted= !isAgreementAccepted"
            [ngClass]="{active: isAgreementAccepted}" class="checkbox mr-2"></div>
          <div class="label">
            <span class="text"    (click)="isAgreementAccepted= !isAgreementAccepted"></span>
            <span
              class="text" 
              (click)="isAgreementAccepted= !isAgreementAccepted"
              >Bu bilgiler TC kimlik numaramla açılmış vadesiz Türk Lirası banka
              hesabına aittir. Bilgilerin uyuşmaması durumunda para transferin
              gerçekleşmeyeceğini kabul ediyorum.</span
            >
          </div>
        </ion-item> 
      </div>
    </div>
    <div class="form-footer">
      <ion-button
      (click)="addAccount()"
        size="block"
        color="primary"
        >HESAP EKLE
      </ion-button>
    </div>
  </div>
</ion-content> 
<!-- routerDirection="forward"
[routerLink]="['../account-approve']" -->