<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons routerDirection="forward" [routerLink]="['../../home']" class="p1" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-segment slot="end" scrollable class="md-segment" mode="md" value="sat">
      <ion-segment-button value="al" routerDirection="forward" [routerLink]="['../buy']">
        <ion-label>AL</ion-label>
      </ion-segment-button>
      <ion-segment-button value="sat" >
        <ion-label>SAT</ion-label>
      </ion-segment-button>
      <ion-segment-button value="donustur" routerDirection="forward" [routerLink]="['../exchange']">
        <ion-label>DÖNÜŞTÜR</ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content class="trade">
  <div class="div-info ion-text-center">

    <ion-item style="    width: 27%;
      margin: auto;" lines="none">
      <p style="    font-size: 16px;
        font-weight: bold;
        color: #080A1E;">Altın</p>
      <ion-select cancelText="İptal">
        <ion-select-option value="5">Altın</ion-select-option>
        <ion-select-option value="15">Gümüş</ion-select-option>
        <ion-select-option value="30">Paladyum</ion-select-option>
        <ion-select-option value="60">Platin</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-label class="p1" slot="start">

      <p>1.308,10 TL</p>
      <ion-row style="    margin-left: 40%;
      ">
        <ion-icon name="caret-up"></ion-icon>
        <p>(%1.25)</p>
      </ion-row>
    </ion-label>
    <img src="../../../assets/icon/chart6.png" alt="" />

  </div>

  <div class="div-input ion-text-center">
    <ion-item lines="none">
      <ion-input type="number" [(ngModel)]="price" slot="start"></ion-input>
      <p slot="end">TRY</p>
    </ion-item>
    <div lines="none" class="balance">
      <p>Kulanılabilir Bakiye
        <span>12.450 TRY</span>
      </p>
    </div>
  </div>

  <div class="div-select ion-text-center">
    <ion-button (click)="changeCurrency(25)" color="tertiary">
      %25
    </ion-button>
    <ion-button (click)="changeCurrency(50)" color="tertiary">
      %50
    </ion-button>
    <ion-button (click)="changeCurrency(75)" color="tertiary">
      %75
    </ion-button>
    <ion-button (click)="changeCurrency(100)" color="tertiary">
      %100
    </ion-button>
  </div>

  <div class="summary">
    <hr>
    <div class="summary-item">
      <p slot="start">Komisyon:</p>
      <p slot="end">0 TRY</p>
    </div>
    <div class="summary-item">
      <p slot="start">Toplam:</p>
      <p slot="end">0 TRY</p>
    </div>
  </div>

</ion-content>
<ion-footer class="trade">
  <ion-button expand="block" color="danger">SAT</ion-button>
</ion-footer>