<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <div class="form-inner">
      <div class="form-header">
        <h3>Banka Hesaplarım</h3> 
      </div>
      <div *ngFor="let account of accounts" class="form-items">
        <ion-item button detail="false" class="item-large-select padding-bottom" lines="none" routerDirection="forward" [routerLink]="['account-create']">
          <img slot="start" src="../../../../../assets/img/bank/fiba.svg" alt="" />
          <ion-label>
            <p> <span>{{account.name}}</span></p>
            <ion-note>{{account.accountNo}}</ion-note>
          </ion-label> 
        </ion-item> 
      </div>
    </div>
    <div class="form-footer">
      <ion-button routerDirection="forward" [routerLink]="['account-create']" size="block" color="primary">YENİ BANKA HESABI EKLE
      </ion-button>
    </div>
  </div>
</ion-content>
 