
<ion-content>

  <div  class="content">  
    <ion-segment scrollable class="md-btn-segment"  mode="md" value="cevirici">
      <ion-segment-button value="tumu"> 
        <ion-label>Platin/Gümüş</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cevirici"> 
        <ion-label>Platin/Paladyum</ion-label>
      </ion-segment-button>
      <ion-segment-button value="haber">
         <ion-label>Paladyum/Gümüş</ion-label>
      </ion-segment-button>  
  </ion-segment>
  <div style="text-align:center;    margin-top: 50px  ">
    <img src="../../../../assets/img/icon/carpanlar.svg" alt="" /> 

  </div>

  </div>
</ion-content>
