<ion-content>
  <ion-item lines="none">
    <ion-segment (ionChange)="calc()" [(ngModel)]="convertType" style="max-width: 120px; font-weight: none" slot="end" class="ios-segment" mode="ios" >
      <ion-segment-button value="buy">
        <ion-label>Alış</ion-label>
      </ion-segment-button>
      <ion-segment-button value="sell">
        <ion-label>Satış</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>

  <ion-item lines="none">
    <ion-label> Çevirilen </ion-label>
  </ion-item>
  <div class="input">
    <ion-row>
      <ion-col class="first" size="9">
        <ion-input type="number" placeholder="0" (ionFocus)="onInputFocus()" (ionBlur)="onInputBlur()"
          (ionChange)="calc()" [(ngModel)]="sourceValue"></ion-input>
      </ion-col>
      <ion-col class="last" size="3">
        <ion-select class="custom-options" interface="popover" [(ngModel)]="sourceSymbolCode" placeholder="Seçiniz"
          (ionChange)="calc()">
          <ion-select-option *ngFor="let symbol of symbols" [value]="symbol.isoCode">{{symbol.isoCode}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </div>

  <ion-item lines="none">
    <ion-label> Çeviri </ion-label>
  </ion-item>
  <div class="input">
    <ion-row>
      <ion-col class="first" size="9">
        <ion-input placeholder="0" readonly [(ngModel)]="targetValue"></ion-input>
      </ion-col>
      <ion-col class="last" size="3">
        <ion-select class="custom-options" interface="popover" [(ngModel)]="targetSymbolCode" placeholder="Seçiniz"
          (ionChange)="calc()">
          <ion-select-option *ngFor="let symbol of symbols" [value]="symbol.isoCode">{{symbol.isoCode}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </div>
</ion-content>