.ios-segment {
    --background: #fdfdfd;
    border: solid 1px #C3CDDB;
    border-radius: 50px;
    
    margin-top: 24px;
    ion-segment-button { 
      letter-spacing: normal;
      --indicator-color: #f1be4b; 
      --border-radius: 100px;
      margin: 0px; 
    } 
  }
  .input{
    margin: 16px;
    background: #F6F5F1;
    border-radius: 5px;
    padding: 2px 0px;

    .first{
        font-size: 14px;  
        ion-input{
            color: #080A1E;
            font-size: 16px; 
            margin-left: 10px;
            letter-spacing: normal; 
        }
    } 
    .last{
        text-align: end;
    }

  }    
  ion-label{
    color: #080A1E;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: normal; 
}