ion-toolbar {
  ion-icon {
    font-size: 20px;
    padding-right: 16px;
  }
}

.form-container {
  .form-header {
    padding: unset;

    ion-segment {
      margin-top: 20px;
      margin-bottom: 10px;

      ion-segment-button {
        --padding-start: 0;
        --padding-end: 0;
      }
    }
  }
}

.list-row {
  margin-right: -20px;
  margin-left: -20px;

  ion-row {
    padding: 10px;
    ion-col {
      padding: 10px;
      .list-item {
        height: 232px;
        text-align: center;
        border: solid 1px #e9e9e9;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column;
        padding-top: 10px;

        img {
          width: 100px;
          height: 100px;
          border-radius: 20px;
          object-fit: cover;
          align-self: center;
        }

        h2 {
          font-size: 14px;
          margin: 0;

          b {
            font-size: 10px;
          }
        }

        .description {
          font-size: 12px;
          font-weight: 500;
          margin: 0;
        }

        ion-button {
          --ion-color-contrast: #ffffff !important;
          font-weight: 600;
          height: 2.5em;
          margin: -1px;
          outline: none;
          border: 0;
        }
      }
    }
  }
}
