<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" name="cart-outline"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <div class="form-inner">
      <div class="form-header">
        <h3>Fiziki Çekim </h3>
        <ion-note>Ürünleri sepete ekle</ion-note>
        <div class="tabbar">
          <ion-segment scrollable class="md-segment" mode="md" value="isi" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="isi">
              <ion-label>ALTIN</ion-label>
            </ion-segment-button>
            <ion-segment-button value="ceviri">
              <ion-label>SARRAFİYE</ion-label>
            </ion-segment-button>
            <ion-segment-button value="haber">
              <ion-label>BİLEZİK</ion-label>
            </ion-segment-button>
            <ion-segment-button value="1">
              <ion-label>GÜMÜŞ</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>PALADYUM</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div> 
      </div>
      <div class="form-items">
        <div class="list-row">
          <ion-row>
            <ion-col size="6">
              <div class="list-item">
                <img src="../../../../../assets/img/iconx/bar.png" alt="" />
                <h2>15 kg Nadir Gram <br> <b class="bold">999.9 Külçe Gümüş</b></h2>
                <p class="description">5.36gr Au | <b class="bold">{{1200 | number : '1.2-2'}} TL</b></p>
                <ion-button color="primary" size="block">SEPETE EKLE</ion-button>
              </div>

            </ion-col>

            <ion-col size="6">
              <div class="list-item">
                <img src="../../../../../assets/img/iconx/bar.png" alt="" />

                <h2>15 kg Nadir Gram <br> <b class="bold">999.9 Külçe Gümüş</b></h2>
                <p class="description">5.36gr Au | <b class="bold">{{1200 | number : '1.2-2'}} TL</b></p>
                <ion-button color="primary" size="block">SEPETE EKLE</ion-button>
              </div>
            </ion-col>

            <ion-col size="6">
              <div class="list-item">
                <img src="../../../../../assets/img/iconx/bar.png" alt="" />

                <h2>15 kg Nadir Gram <br> <b class="bold">999.9 Külçe Gümüş</b></h2>
                <p class="description">5.36gr Au | <b class="bold">{{1200 | number : '1.2-2'}} TL</b></p>
                <ion-button color="primary" size="block">SEPETE EKLE</ion-button>
              </div>
            </ion-col>

            <ion-col size="6">
              <div class="list-item">
                <img src="../../../../../assets/img/iconx/bar.png" alt="" />

                <h2>15 kg Nadir Gram <br> <b class="bold">999.9 Külçe Gümüş</b></h2>
                <p class="description">5.36gr Au | <b class="bold">{{1200 | number : '1.2-2'}} TL</b></p>
                <ion-button color="primary" size="block">SEPETE EKLE</ion-button>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="list-item">
                <img src="../../../../../assets/img/iconx/bar.png" alt="" />

                <h2>15 kg Nadir Gram <br> <b class="bold">999.9 Külçe Gümüş</b></h2>
                <p class="description">5.36gr Au | <b class="bold">{{1200 | number : '1.2-2'}} TL</b></p>
                <ion-button color="primary" size="block">SEPETE EKLE</ion-button>
              </div>
            </ion-col>

            <ion-col size="6">
              <div class="list-item">
                <img src="../../../../../assets/img/iconx/bar.png" alt="" />

                <h2>15 kg Nadir Gram <br> <b class="bold">999.9 Külçe Gümüş</b></h2>
                <p class="description">5.36gr Au | <b class="bold">{{1200 | number : '1.2-2'}} TL</b></p>
                <ion-button color="primary" size="block">SEPETE EKLE</ion-button>
              </div>
            </ion-col>

          </ion-row>

        </div>
      </div>
    </div>
    <div class="form-footer">
      <ion-button routerDirection="forward" [routerLink]="['../orders-basket']" size="block" color="primary">SİPARİŞ
        OLUŞTUR</ion-button>
    </div>
  </div>
</ion-content>