ion-content {
    .wallet-summary {
        text-align: center;
        font-weight: bold;
        margin: 20px 0 10px;

        p {
            font-size: 12px;
            font-weight: bold;
            margin: 0;
        }
        h2 {
            font-size: 12px;
            font-weight: 500;
            margin: 0;
        }
        h3 {
            font-weight: bold;
            margin: 4px 0;
        }
    }

    .chart-container {
        position: relative;

        .chart-center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            p {
                margin: 0;
                padding: 0;
                text-align: center;

                &.symbol {
                    font-size: 12px;
                    font-weight: 600;
                }

                &.value {
                    font-size: 14px;
                    margin: 3px 0;
                }

                &.gr {
                    font-size: 12px;
                    color: rgba(151, 151, 151, 1);
                }
            }
        }
    }

    .actions-container {
        ion-row {
            padding: 0 8px;
            ion-col {
                padding: 0 8px;
            }
        }

        ion-button {
            width: 100%;
            font-size: 12px;
            text-align: center;
            height: 84px;
            border-radius: 10px;
            border: solid 1px #e9e9e9;
            padding: 0;

            .button-inner {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 4px;
            }
        }
        ion-icon {
            width: 40px;
            margin-bottom: 8px;
            height: 40px;
            color: #f1bc00;
        }
    }

    .segment-container {
        padding: 16px;
    }

    .assets-list {
        padding: 16px;

        ion-row {
            margin-bottom: 16px;
            padding: 16px;
            border: solid 1px #e9e9e9;
            border-radius: 10px;

            &:last-child {
                margin-bottom: 0;
            }
            ion-col {
                margin: auto;
                div {
                    text-align: center;
                    img {
                        width: 35px;
                        height: 35px;
                    }
                }
                h4 {
                    font-size: 14px;
                    font-weight: bold;
                }
                p {
                    font-size: 10px;
                    color: black;
                    margin-bottom: -4px;
                }
                ion-note {
                    font-size: 10px;
                }
                .end {
                    h4 {
                        font-size: 16px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .share-container {
        padding: 0 16px 16px 16px;
        .share {
            padding-bottom: 16px;
            border-bottom: solid 1px #f1f1f1;

            ion-item {
                border: solid 1px #e9e9e9;
                border-radius: 10px;
                --padding-start: 10px;
                --padding-end: 0;
                --inner-padding-start: 0;
                --inner-padding-end: 0;
                p {
                    font-size: 12px;
                    font-weight: bold;
                }
                ion-icon {
                    color: #f1bc00;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .assets-status-container {
        padding: 16px;

        .select-container {
            .remove-arrow::part(icon) {
                display: none !important;
            }
            ion-item {
                border-radius: 10px;
                --background: #f6f5f1;
                font-size: 12px;
                --min-height: 40px;
            }
            ion-icon {
                padding: 3px;
            }
        }

        .header {
            h3 {
                font-size: 18px;
                font-weight: bold;
                margin: 0 0 16px;
            }
        }
    }

    .variable-header-div {
        margin: 10px 20px;
        border-bottom: solid 1px #f1f1f1;
    }
    .variable-div {
        ion-item {
            --padding-start: 7px;

            border-bottom: solid 1px #f1f1f1;
            --min-height: 35px;
            font-size: 11px;
            div {
                margin-left: auto;
                margin-right: auto;
                .up {
                    color: #16c784;
                }
                .down {
                    color: #ff4747;
                }
            }
        }
        .p3 {
            color: #7c7f97;
            margin: 0;
            text-align: center;
        }
        .p1 {
            text-align: start;
            margin: 0;
            font-weight: bold;
        }
        .p2 {
            text-align: end;
            margin: 0;
            font-weight: bold;
        }
    }
    ion-footer {
        box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
        ion-toolbar {
            --min-height: 60px !important;
            --border-style: none;
        }
        ion-tab-bar {
            height: 60px !important;
            --background: white;
            border: 0px !important;
            border-top-color: transparent !important;
            background-image: none !important;
            border-top: none !important;
        }
        ion-tab-button {
            color: black;
        }

        ion-button {
            width: 85px;
            height: 35px;
            display: block;
        }
        .btn1 {
            margin: 0 10px 0 20px;
        }
        .btn2 {
            margin: 0 20px 0 0px;
        }
    }
}

.btn-light{
    --background:white
}