<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../../assets/img/branding/logo-sm.svg">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="ion-menu-button">
        <img src="../../../assets/img/icon/qrCode.svg">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wallet-summary">
    <h2>Tüm Varlıklarım</h2>
    <h3>
      0.00 TL
    </h3>
    <p>
      <ion-icon style="color: #16C784 ;" name="caret-up"></ion-icon>-%0.00
    </p>
  </div>
  <div class="chart-container centered">
    <div id="chart">
      <apx-chart [series]="series" [colors]="colors" [fill]="chartOptions.fill" [chart]="chartOptions.chart"
        [labels]="chartOptions.labels" [responsive]="chartOptions.responsive" [dataLabels]="chartOptions.dataLabels">
      </apx-chart>
    </div>
    <div class="chart-center" *ngIf="selectedItem">
      <p class="symbol">{{selectedItem?.symbol}}</p>
      <p class="value">{{selectedItem?.amountTRY | number : '1.2-2'}}</p>
      <p class="gr" *ngIf="!selectedItem?.isPrimary">{{selectedItem?.amountGR | number : '1.2-2'}} GR</p>
    </div>
  </div>
  <div class="actions-container" style="margin-top: 5%;">
    <ion-row>
      <ion-col size="3">
        <ion-button (click)="goBuy()" class="btn-light">
          <div class="button-inner">
            <ion-icon name="add-circle"></ion-icon>
            <span>Al</span>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="goSell()" class="btn-light">
          <div class="button-inner">
            <ion-icon name="remove-circle"></ion-icon>
            <span>Sat</span>
          </div>
        </ion-button>

      </ion-col>
      <ion-col size="3">
        <ion-button (click)="goWithdraw()" class="btn-light">
          <div class="button-inner">
            <ion-icon name="arrow-up-circle"></ion-icon>
            <span>Çek</span>
          </div>
        </ion-button>

      </ion-col>
      <ion-col size="3">
        <ion-button (click)="goDeposit()" class="btn-light">
          <div class="button-inner">
            <ion-icon name="arrow-down-circle"></ion-icon>
            <span>Yatır</span>
          </div>
        </ion-button>

      </ion-col>
    </ion-row>
  </div>

  <div class="segment-container">
    <ion-segment [value]="selectedSegmentVal" (ionChange)="segmentChange($event)">
      <ion-segment-button value="assets">
        <ion-label>VARLIKLARIM</ion-label>
      </ion-segment-button>
      <ion-segment-button value="history">
        <ion-label>İŞLEM GEÇMİŞİ</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="selectedSegmentVal=='assets'">
    <div *ngFor="let asset of assets" class="trade-list">
      <ion-row>
        <ion-col size="2">
          <div>
            <img src="../../../assets/img/icon/assetGoldSolid.svg" alt="" />
          </div>
        </ion-col>
        <ion-col size="8">
          <ion-label class="center">
            <h4 class="bold">{{asset.symbol.name}}</h4>
            <p>999.0/1000</p>
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <div>
            <img src="../../../assets/img/icon/alarm.svg" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <div class="div-left">
            <ion-label>
              <h4>0 TL</h4>
              <ion-button class="buy-btn" size="small">AL</ion-button>
            </ion-label>
          </div>
        </ion-col>
        <ion-col size="4">
          <ion-label class="center">
            <div class="center">
              <img src="../../../assets/img/icon/deleteMiniChart.svg" alt="" />
            </div>
            <p>%0</p>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <div class="div-right">
            <ion-label>
              <h4 style="    max-width: 64px; ">0 TL</h4>
              <ion-button class="sell-btn" size="small">SAT</ion-button>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <!--
    <div class="trade-list">
      <ion-row>
        <ion-col size="2">
          <div>
            <img src="../../../assets/img/icon/assetGoldSolid.svg" alt="" />
          </div>
        </ion-col>
        <ion-col size="8">
          <ion-label class="center">
            <h4 class="bold">Altin</h4>
            <p>999.0/1000</p>
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <div>
            <img src="../../../assets/img/icon/alarm.svg" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <div class="div-left">
            <ion-label>
              <h4>{{symbol.buy}} TL</h4>
              <ion-button class="buy-btn" size="small">AL</ion-button>
            </ion-label>
          </div>
        </ion-col>
        <ion-col size="4">
          <ion-label class="center">
            <div class="center">
              <img src="../../../assets/img/icon/deleteMiniChart.svg" alt="" />
            </div>
            <p>%{{symbol.dailyChangePercent}}</p>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <div class="div-right">
            <ion-label>
              <h4 style="    max-width: 64px; ">{{symbol.sell}} TL</h4>
              <ion-button class="sell-btn" size="small">SAT</ion-button>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="trade-list">
      <ion-row>
        <ion-col size="2">
          <div>
            <img src="../../../assets/img/icon/assetSilverSolid.svg" alt="" />
          </div>
        </ion-col>
        <ion-col size="8">
          <ion-label class="center">
            <h4 class="bold">Gumus</h4>
            <p>999.0/1000</p>
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <div>
            <img src="../../../assets/img/icon/alarm.svg" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <div class="div-left">
            <ion-label>
              <h4>{{symbol.buy}} TL</h4>
              <ion-button class="buy-btn" size="small">AL</ion-button>
            </ion-label>
          </div>
        </ion-col>
        <ion-col size="4">
          <ion-label class="center">
            <div class="center">
              <img src="../../../assets/img/icon/deleteMiniChart.svg" alt="" />
            </div>
            <p>%{{symbol.dailyChangePercent}}</p>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <div class="div-right">
            <ion-label>
              <h4 style="    max-width: 64px; ">{{symbol.sell}} TL</h4>
              <ion-button class="sell-btn" size="small">SAT</ion-button>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="trade-list">
      <ion-row>
        <ion-col size="2">
          <div>
            <img src="../../../assets/img/icon/assetPalladiumSolid.svg" alt="" />
          </div>
        </ion-col>
        <ion-col size="8">
          <ion-label class="center">
            <h4 class="bold">Paladyum</h4>
            <p>999.0/1000</p>
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <div>
            <img src="../../../assets/img/icon/alarm.svg" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <div class="div-left">
            <ion-label>
              <h4>{{symbol.buy}} TL</h4>
              <ion-button class="buy-btn" size="small">AL</ion-button>
            </ion-label>
          </div>
        </ion-col>
        <ion-col size="4">
          <ion-label class="center">
            <div class="center">
              <img src="../../../assets/img/icon/deleteMiniChart.svg" alt="" />
            </div>
            <p>%{{symbol.dailyChangePercent}}</p>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <div class="div-right">
            <ion-label>
              <h4 style="    max-width: 64px; ">{{symbol.sell}} TL</h4>
              <ion-button class="sell-btn" size="small">SAT</ion-button>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="trade-list">
      <ion-row>
        <ion-col size="2">
          <div>
            <img src="../../../assets/img/icon/assetPlatinSolid.svg" alt="" />
          </div>
        </ion-col>
        <ion-col size="8">
          <ion-label class="center">
            <h4 class="bold">Platinyum</h4>
            <p>999.0/1000</p>
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <div>
            <img src="../../../assets/img/icon/alarm.svg" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <div class="div-left">
            <ion-label>
              <h4>{{symbol.buy}} TL</h4>
              <ion-button class="buy-btn" size="small">AL</ion-button>
            </ion-label>
          </div>
        </ion-col>
        <ion-col size="4">
          <ion-label class="center">
            <div class="center">
              <img src="../../../assets/img/icon/deleteMiniChart.svg" alt="" />
            </div>
            <p>%{{symbol.dailyChangePercent}}</p>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <div class="div-right">
            <ion-label>
              <h4 style="    max-width: 64px; ">{{symbol.sell}} TL</h4>
              <ion-button class="sell-btn" size="small">SAT</ion-button>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="trade-list">
      <ion-row>
        <ion-col size="2">
          <div>
            <img src="../../../assets/img/icon/assetsLiraSolid.svg"
              onerror="this.src='../../../assets/img/icon/assetsLiraSolid.svg';" alt="" />
          </div>
        </ion-col>
        <ion-col size="8">
          <ion-label class="center">
            <h4 class="bold">Nakit</h4>
            <p>999.0/1000</p>
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <div>
            <img src="../../../assets/img/icon/alarm.svg" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <div class="div-left">
            <ion-label>
              <h4>{{symbol.buy}} TL</h4>
              <ion-button class="buy-btn" size="small">AL</ion-button>
            </ion-label>
          </div>
        </ion-col>
        <ion-col size="4">
          <ion-label class="center">
            <div class="center">
              <img src="../../../assets/img/icon/deleteMiniChart.svg" alt="" />
            </div>
            <p>%{{symbol.dailyChangePercent}}</p>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <div class="div-right">
            <ion-label>
              <h4 style="    max-width: 64px; ">{{symbol.sell}} TL</h4>
              <ion-button class="sell-btn" size="small">SAT</ion-button>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </div>
  -->


    <div class="share-container">
      <div class="share">
        <ion-item lines="none">
          <img slot="start" src="../../../assets/img/sprite/share-gold.png" alt="" />
          <p>Arkadaşını davet et gram altın kazan!</p>
          <ion-icon slot="end" name="close-circle"></ion-icon>
        </ion-item>
      </div>
    </div>

    <div class="assets-status-container">
      <div class="header">
        <h3>VARLIK DURUMU</h3>
      </div>
      <div class="select-container">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="5">
              <ion-item lines="none">
                <ion-icon name="calendar-outline"></ion-icon>
                <ion-select value="enable" interface="action-sheet">
                  <ion-select-option value="day">Gunluk</ion-select-option>
                  <ion-select-option value="enable">Haftalik</ion-select-option>
                  <ion-select-option value="mute_week">Aylik</ion-select-option>
                  <ion-select-option value="mute_year">Yillik</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <app-line-chart *ngIf="selectedChartType == 'line'" [data]="lineData"></app-line-chart>
    </div>



  </div>

  <div *ngIf="selectedSegment=='history'" class="variable-div">
    <ion-grid>
      <ion-row>

        <ion-col size="12">
          <ion-item lines="none">
            <p style="font-weight: bold" class="p1" slot="start">
              72gr Altın Alındı
            </p>
            <div>
              <p class="p3">
                <ion-icon class="down" name="caret-up"></ion-icon>
                ALTIN = 897,88 TL
              </p>
            </div>

            <p class="p2" slot="end">13:00 | 12.01.2022</p>
          </ion-item>
          <ion-item lines="none">
            <p style="font-weight: bold" class="p1" slot="start">
              1gr Altın Satıldı
            </p>

            <div>
              <p class="p3">
                <ion-icon class="up" name="caret-down"></ion-icon>
                ALTIN = 897,88 TL
              </p>
            </div>

            <p class="p2" slot="end">13:00 | 12.01.2022</p>
          </ion-item>
          <ion-item lines="none">
            <p style="font-weight: bold" class="p1" slot="start">
              12gr Altın Alındı
            </p>
            <div>
              <p class="p3">
                <ion-icon class="down" name="caret-down"></ion-icon>
                ALTIN = 897,88 TL
              </p>
            </div>

            <p class="p2" slot="end">13:00 | 12.01.2022</p>
          </ion-item>
          <ion-item lines="none">
            <p style="font-weight: bold" class="p1" slot="start">
              12gr Altın Alındı
            </p>
            <div>
              <p class="p3">
                <ion-icon class="up" name="caret-up"></ion-icon>
                ALTIN = 897,88 TL
              </p>
            </div>

            <p class="p2" slot="end">13:00 | 12.01.2022</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item lines="none">
      <ion-button routerDirection="forward" [routerLink]="['transaction-history']" slot="end" color="primary"
        shape="round" fill="outline">Tümü</ion-button>
    </ion-item>

  </div>

</ion-content>