<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <div class="form-inner">
      <div class="form-header">
        <h3>Kişisel Bilgiler</h3> 
      </div>
      <div class="profile">
        <div class="avatar">
          <img
            [src]="profilePictureUrl == null || profilePictureUrl.length == 0 ? '../../../../assets/img/auth/avatar.png' : profilePictureUrl"
            alt="" />
          <div (click)="presentActionSheet()" class="options">
            <img src="../../../../assets/img/icon/add.svg" alt="Icon" />
          </div>
        </div>    
      </div>
      <div class="form-items">
        <ion-item class="item-input" lines="none">
          <p slot="start">Ad</p>
          <p slot="end"  d>Hande Türkmen</p>
        </ion-item>
        <ion-item class="item-input" lines="none">
          <p slot="start">E-posta</p>
          <p slot="end"  >hello@gmail.com</p>
        </ion-item>
        <ion-item class="item-input" lines="none">
          <p slot="start">Telefon</p>
          <p slot="end"  >+905398282288</p>
        </ion-item>
        <ion-item class="item-input" lines="none">
          <p slot="start">Üyelik Tarihi</p>
          <p slot="end"  >13/01/2021</p>
        </ion-item>
        <ion-item class="item-input" lines="none">
          <p slot="start">Adres</p>
          <p slot="end"  >Türkiye</p>
        </ion-item>
      </div>
    </div>

    <div class="form-footer">
      <ion-button class="secondBtn" routerDirection="forward" [routerLink]="['profile-approve']" size="block" color="medium"
      fill="outline" style="margin: 0"  >ÇIKIŞ YAP</ion-button>
      <ion-button routerDirection="forward" [routerLink]="['profile-edit']" size="block" color="primary"
      style="margin: 0"  >DÜZENLE</ion-button>
    </div>

  </div>
</ion-content>