<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons class="p1" slot="end">
      <div class="stepper-div stepper-div-color"></div>
      <div class="stepper-div"></div>
      <div class="stepper-div"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  *ngIf="step==1">
    <div *ngIf="retail" class="form-container" style="margin: 5px">
      <form [formGroup]="retailRegisterForm" (ngSubmit)="registerRetail()">
        <ion-grid class="gap-list">
          <ion-row style="margin-top: 10%">
            <ion-col>
              <h3>Hesap Oluştur</h3>
            </ion-col>
          </ion-row>
  
          <ion-row style="margin-top: 5%">
            <ion-col>
              <ion-item class="username-input" lines="none">
                <ion-input placeholder="İsminiz" formControlName="firstName"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none" class="username-input">
                <ion-input placeholder="Soyadınız" formControlName="lastName"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none" class="username-input">
                <ion-input placeholder="TCKN" formControlName="identityNo"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none" class="username-input">
                <ion-input placeholder="E-Posta Adresiniz" formControlName="email"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none" class="username-input">
                <ion-input placeholder="Lütfen bir şifre belirleyin" formControlName="password"></ion-input>
                <span style="padding-left: 3px; color: #9b9b9b; font-weight: bold">
                  <ion-icon name="eye-outline"></ion-icon>
                </span>
              </ion-item>
            </ion-col>
          </ion-row>
  
          <ion-item style="padding: 0" lines="none" class="input-checkbox ion-padding d-flex">
            <div (click)="isUserAgreementAccepted= !isUserAgreementAccepted" [ngClass]="{active: isUserAgreementAccepted}"
              class="checkbox mr-2"></div>
            <div class="label">
              <span class="text" (click)="isUserAgreementAccepted= !isUserAgreementAccepted"></span>
              <span class="link" (click)="privacyModal()">Aydınlatma Metni </span>
              <span class="text" (click)="isUserAgreementAccepted= !isUserAgreementAccepted">’ni okudum ve </span>
              <span class="link" (click)="privacyModal()">Kullanım Sözleşmesini
              </span>
              <span class="text" (click)="isUserAgreementAccepted= !isUserAgreementAccepted">okudum, kabul
                ediyorum.</span>
            </div>
          </ion-item>
  
          <ion-item style="padding: 0" lines="none" class="input-checkbox ion-padding d-flex">
            <div (click)="isPrivacyAgreementAccepted= !isPrivacyAgreementAccepted"
              [ngClass]="{active: isPrivacyAgreementAccepted}" class="checkbox mr-2"></div>
            <div class="label">
              <span class="text" (click)="isPrivacyAgreementAccepted= !isPrivacyAgreementAccepted"></span>
              <span class="link" (click)="privacyModal()">Açık Rıza Metni</span>
              <span class="text" (click)="isPrivacyAgreementAccepted= !isPrivacyAgreementAccepted">’ni okudum, inceledim,
                ekli metin kapsamında kişisel verilerimin
                işlenmesi ve aktarılmasını onaylıyorum.</span>
            </div>
          </ion-item>
  
          <ion-item style="padding: 0" lines="none" class="input-checkbox ion-padding d-flex">
            <div (click)="isContactAgreementAccepted= !isContactAgreementAccepted"
              [ngClass]="{active: isContactAgreementAccepted}" class="checkbox mr-2"></div>
            <div class="label">
              <span class="text" (click)="isContactAgreementAccepted= !isContactAgreementAccepted"></span>
              <span class="text" (click)="isContactAgreementAccepted= !isContactAgreementAccepted">Ürün ve hizmetlerle
                ilgili
              </span>
              <span class="link" (click)="privacyModal()">Müşterilere Yönelik Aydınlatma Metni</span>
              <span class="text" (click)="isContactAgreementAccepted= !isContactAgreementAccepted">
                kapsamında e-posta, telefon ve elektronik iletişim kanalları yoluyla
                ticari elektronik iletiler almayı kabul ediyorum.</span>
            </div>
          </ion-item>
          <ion-row style="margin-top: 5%">
            <ion-col>
              <ion-button  size="block" color="warning"    (click)="step2()"
                style="margin: 0">HESAP OLUŞTUR</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
    <div *ngIf="!retail" class="form-container" style="margin: 5px">
      <form [formGroup]="corporateRegisterForm" (ngSubmit)="registerCorporate()">
        <ion-grid class="gap-list">
          <ion-row style="margin-top: 10%">
            <ion-col>
              <h3>Hesap Oluştur</h3>
            </ion-col>
          </ion-row>
  
          <ion-row style="margin-top: 5%">
            <ion-col>
              <ion-item class="username-input" lines="none">
                <ion-input placeholder="Firma Unvanı" formControlName="firmName"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none" class="username-input">
                <ion-input placeholder="Vergi Dairesi" formControlName="taxOffice"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none" class="username-input">
                <ion-input placeholder="Vergi No" formControlName="taxNo"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none" class="username-input">
                <ion-input placeholder="İsminiz" formControlName="firmName"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none" class="username-input">
                <ion-input placeholder="Soyadınız" formControlName="lastName"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none" class="username-input">
                <ion-input placeholder="E-Posta Adresiniz" formControlName="email"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
  
  
          <ion-item style="padding: 0" lines="none" class="input-checkbox ion-padding d-flex">
            <div (click)="isUserAgreementAccepted= !isUserAgreementAccepted" [ngClass]="{active: isUserAgreementAccepted}"
              class="checkbox mr-2"></div>
            <div class="label">
              <span class="text" (click)="isUserAgreementAccepted= !isUserAgreementAccepted"></span>
              <span class="link" (click)="privacyModal()">Aydınlatma Metni </span>
              <span class="text" (click)="isUserAgreementAccepted= !isUserAgreementAccepted">’ni okudum ve </span>
              <span class="link" (click)="privacyModal()">Kullanım Sözleşmesini
              </span>
              <span class="text" (click)="isUserAgreementAccepted= !isUserAgreementAccepted">okudum, kabul
                ediyorum.</span>
            </div>
          </ion-item>
  
          <ion-item style="padding: 0" lines="none" class="input-checkbox ion-padding d-flex">
            <div (click)="isPrivacyAgreementAccepted= !isPrivacyAgreementAccepted"
              [ngClass]="{active: isPrivacyAgreementAccepted}" class="checkbox mr-2"></div>
            <div class="label">
              <span class="text" (click)="isPrivacyAgreementAccepted= !isPrivacyAgreementAccepted"></span>
              <span class="link" (click)="privacyModal()">Açık Rıza Metni</span>
              <span class="text" (click)="isPrivacyAgreementAccepted= !isPrivacyAgreementAccepted">’ni okudum, inceledim,
                ekli metin kapsamında kişisel verilerimin
                işlenmesi ve aktarılmasını onaylıyorum.</span>
            </div>
          </ion-item>
  
          <ion-item style="padding: 0" lines="none" class="input-checkbox ion-padding d-flex">
            <div (click)="isContactAgreementAccepted= !isContactAgreementAccepted"
              [ngClass]="{active: isContactAgreementAccepted}" class="checkbox mr-2"></div>
            <div class="label">
              <span class="text" (click)="isContactAgreementAccepted= !isContactAgreementAccepted"></span>
              <span class="text" (click)="isContactAgreementAccepted= !isContactAgreementAccepted">Ürün ve hizmetlerle
                ilgili
              </span>
              <span class="link" (click)="privacyModal()">Müşterilere Yönelik Aydınlatma Metni</span>
              <span class="text" (click)="isContactAgreementAccepted= !isContactAgreementAccepted">
                kapsamında e-posta, telefon ve elektronik iletişim kanalları yoluyla
                ticari elektronik iletiler almayı kabul ediyorum.</span>
            </div>
          </ion-item>
          <ion-row style="margin-top: 0%">
            <ion-col>
              <ion-button             (click)="step2()" size="block" color="warning"  
                style="margin: 0">HESAP OLUŞTUR</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </div>

  <div
  *ngIf="step==2"
  class="form-container"
  style="margin: 5px; text-align: center"
>
  <ion-grid class="gap-list">
    <ion-row style="margin-top: 10%">
      <ion-col>
        <img src="../../../assets/icon/mail2.svg" alt="" />
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10%; text-align: center">
      <ion-col>
        <h3>Hesabını Doğrula</h3>
      </ion-col>
    </ion-row>

    <ion-item
      style="padding: 0"
      lines="none"
      class="input-checkbox ion-padding d-flex"
    >
      <div class="label">
        <span class="link">hello@gmail.com</span>
        <!-- (click)="emailCheck= !emailCheck" -->
        <span class="text">
          hesabına bir doğrulama e-postası gönderdik. Lütfen linke tıklayarak
          doğrulama işlemini yapın.
        </span>
      </div>
    </ion-item>

    <ion-row style="margin-top: 50%">
      <ion-col>
        <ion-button
        routerDirection="forward" [routerLink]="['../../phone-approve']" 
          size="block"
          color="warning"
          style="margin: 0"
          >E-POSTAMI KONTOL ET</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>