<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons class="p1" slot="end">
      <div class="stepper active"></div>
      <div class="stepper"></div>
      <div class="stepper"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="retail" class="form-container">
    <form [formGroup]="retailRegisterForm" (ngSubmit)="registerRetail()">
      <div class="form-inner">
        <div class="form-header">
          <h3>Hesap Oluştur</h3>
        </div>
        <div class="form-items">
          <ion-item class="item-input" lines="none">
            <ion-input placeholder="İsminiz" autocapitalize="words" formControlName="firstName"></ion-input>
          </ion-item>
          <ion-item lines="none" class="item-input">
            <ion-input placeholder="Soyadınız" autocapitalize="words" formControlName="lastName"></ion-input>
          </ion-item>
          <ion-item lines="none" class="item-input">
            <ion-input (ionChange)="onCheckId($event)" debounce="500" type="tel" maxlength="11" placeholder="TCKN"
              formControlName="identityNo"></ion-input>
            <div class="prefix-error" slot="end">
              <ion-icon *ngIf="isValidId==false" color="danger" name="close-circle-outline"></ion-icon>
              <ion-icon *ngIf="isValidId==true" color="success" name="checkmark-circle-outline"></ion-icon>
            </div>
          </ion-item>
          <ion-item class="item-input" lines="none">
            <div class="prefix" slot="start">
              <span>+90</span>
              <span>|</span>
            </div>
            <p-inputMask type="tel" (onKeydown)="onClearPhone()" (onComplete)="onBlurPhone()" formControlName="phone"
              mask="(999) 999 99 99" placeholder="Telefon Numarası">
            </p-inputMask>
            <div class="prefix-error" slot="end">
              <ion-icon *ngIf="isValidPhone==false" color="danger" name="close-circle-outline"></ion-icon>
              <ion-icon *ngIf="isValidPhone==true" color="success" name="checkmark-circle-outline"></ion-icon>
            </div>
          </ion-item>
          <ion-item lines="none" class="item-input">
            <ion-input (ionChange)="onCheckEmail($event)" debounce="500" type="email" placeholder="E-Posta Adresiniz"
              formControlName="email"></ion-input>
            <div class="prefix-error" slot="end">
              <ion-icon *ngIf="isValidMail==false" color="danger" name="close-circle-outline"></ion-icon>
              <ion-icon *ngIf="isValidMail==true" color="success" name="checkmark-circle-outline"></ion-icon>
            </div>
          </ion-item>
          <ion-item lines="none" class="item-input">
            <ion-input placeholder="Lütfen bir şifre belirleyin" formControlName="password" type="password"></ion-input>
            <span slot="end">
              <ion-icon name="eye-outline"></ion-icon>
            </span>
          </ion-item>

          <ion-item style="padding: 0" lines="none" class="item-checkbox ion-padding d-flex">
            <div (click)="isUserAgreementAccepted= !isUserAgreementAccepted"
              [ngClass]="{active: isUserAgreementAccepted}" class="checkbox mr-2"></div>
            <div class="label">
              <span class="text" (click)="isUserAgreementAccepted= !isUserAgreementAccepted"></span>
              <span class="link" (click)="privacyModal()">Aydınlatma Metni </span>
              <span class="text" (click)="isUserAgreementAccepted= !isUserAgreementAccepted">’ni okudum ve </span>
              <span class="link" (click)="privacyModal()">Kullanım Sözleşmesini
              </span>
              <span class="text" (click)="isUserAgreementAccepted= !isUserAgreementAccepted">okudum, kabul
                ediyorum.</span>
            </div>
          </ion-item>

          <ion-item style="padding: 0" lines="none" class="item-checkbox ion-padding d-flex">
            <div (click)="isPrivacyAgreementAccepted= !isPrivacyAgreementAccepted"
              [ngClass]="{active: isPrivacyAgreementAccepted}" class="checkbox mr-2"></div>
            <div class="label">
              <span class="text" (click)="isPrivacyAgreementAccepted= !isPrivacyAgreementAccepted"></span>
              <span class="link" (click)="privacyModal()">Açık Rıza Metni</span>
              <span class="text" (click)="isPrivacyAgreementAccepted= !isPrivacyAgreementAccepted">’ni okudum,
                inceledim,
                ekli metin kapsamında kişisel verilerimin
                işlenmesi ve aktarılmasını onaylıyorum.</span>
            </div>
          </ion-item>

          <ion-item style="padding: 0" lines="none" class="item-checkbox ion-padding d-flex">
            <div (click)="isContactAgreementAccepted= !isContactAgreementAccepted"
              [ngClass]="{active: isContactAgreementAccepted}" class="checkbox mr-2"></div>
            <div class="label">
              <span class="text" (click)="isContactAgreementAccepted= !isContactAgreementAccepted"></span>
              <span class="text" (click)="isContactAgreementAccepted= !isContactAgreementAccepted">Ürün ve hizmetlerle
                ilgili
              </span>
              <span class="link" (click)="privacyModal()">Müşterilere Yönelik Aydınlatma Metni</span>
              <span class="text" (click)="isContactAgreementAccepted= !isContactAgreementAccepted">
                kapsamında e-posta, telefon ve elektronik iletişim kanalları yoluyla
                ticari elektronik iletiler almayı kabul ediyorum.</span>
            </div>
          </ion-item>
        </div>
      </div>
      <div class="form-footer">
        <ion-button size="block" color="primary" (click)="registerRetail()">HESAP OLUŞTUR</ion-button>
      </div>
    </form>
  </div>
  <div *ngIf="!retail" class="form-container">
    <form [formGroup]="corporateRegisterForm" (ngSubmit)="registerCorporate()">
      <div class="form-inner">
        <div class="form-header">
          <h3>Hesap Oluştur</h3>
        </div>
        <div class="form-items">
          <ion-item class="item-input" lines="none">
            <ion-input type="text" placeholder="Firma Unvanı" formControlName="firmName"></ion-input>
          </ion-item>
          <ion-item lines="none" class="item-input">
            <ion-input type="text" placeholder="Vergi Dairesi" formControlName="taxOffice"></ion-input>
          </ion-item>
          <ion-item lines="none" class="item-input">
            <ion-input type="tel" placeholder="Vergi No" formControlName="taxNo"></ion-input>
          </ion-item>
          <ion-item lines="none" class="item-input">
            <ion-input type="text" placeholder="İsminiz" formControlName="firstName"></ion-input>
          </ion-item>
          <ion-item lines="none" class="item-input">
            <ion-input type="text" placeholder="Soyadınız" formControlName="lastName"></ion-input>
          </ion-item>
          <ion-item class="item-input" lines="none">
            <div class="prefix" slot="start">
              <span>+90</span>
              <span>|</span>
            </div>
            <p-inputMask type="tel" (onKeydown)="onClearPhone()" (onComplete)="onBlurPhone()" formControlName="phone"
              mask="(999) 999 99 99" placeholder="Telefon Numarası">
            </p-inputMask>
            <div class="prefix-error" slot="end">
              <ion-icon *ngIf="isValidPhone==false" color="danger" name="close-circle-outline"></ion-icon>
              <ion-icon *ngIf="isValidPhone==true" color="success" name="checkmark-circle-outline"></ion-icon>
            </div>
          </ion-item>
          <ion-item lines="none" class="item-input">
            <ion-input (ionChange)="onCheckEmail($event)" debounce="500" type="email" placeholder="E-Posta Adresiniz"
              formControlName="email"></ion-input>
            <div class="prefix-error" slot="end">
              <ion-icon *ngIf="isValidMail==false" color="danger" name="close-circle-outline"></ion-icon>
              <ion-icon *ngIf="isValidMail==true" color="success" name="checkmark-circle-outline"></ion-icon>
            </div>
          </ion-item>
          <ion-item lines="none" class="item-input">
            <ion-input placeholder="Lütfen bir şifre belirleyin" formControlName="password" type="password"></ion-input>
            <span slot="end">
              <ion-icon name="eye-outline"></ion-icon>
            </span>
          </ion-item>
          <ion-item style="padding: 0" lines="none" class="item-checkbox ion-padding d-flex">
            <div (click)="isUserAgreementAccepted= !isUserAgreementAccepted"
              [ngClass]="{active: isUserAgreementAccepted}" class="checkbox mr-2"></div>
            <div class="label">
              <span class="text" (click)="isUserAgreementAccepted= !isUserAgreementAccepted"></span>
              <span class="link" (click)="privacyModal()">Aydınlatma Metni </span>
              <span class="text" (click)="isUserAgreementAccepted= !isUserAgreementAccepted">’ni okudum ve </span>
              <span class="link" (click)="privacyModal()">Kullanım Sözleşmesini
              </span>
              <span class="text" (click)="isUserAgreementAccepted= !isUserAgreementAccepted">okudum, kabul
                ediyorum.</span>
            </div>
          </ion-item>

          <ion-item style="padding: 0" lines="none" class="item-checkbox ion-padding d-flex">
            <div (click)="isPrivacyAgreementAccepted= !isPrivacyAgreementAccepted"
              [ngClass]="{active: isPrivacyAgreementAccepted}" class="checkbox mr-2"></div>
            <div class="label">
              <span class="text" (click)="isPrivacyAgreementAccepted= !isPrivacyAgreementAccepted"></span>
              <span class="link" (click)="privacyModal()">Açık Rıza Metni</span>
              <span class="text" (click)="isPrivacyAgreementAccepted= !isPrivacyAgreementAccepted">’ni okudum,
                inceledim,
                ekli metin kapsamında kişisel verilerimin
                işlenmesi ve aktarılmasını onaylıyorum.</span>
            </div>
          </ion-item>

          <ion-item style="padding: 0" lines="none" class="item-checkbox ion-padding d-flex">
            <div (click)="isContactAgreementAccepted= !isContactAgreementAccepted"
              [ngClass]="{active: isContactAgreementAccepted}" class="checkbox mr-2"></div>
            <div class="label">
              <span class="text" (click)="isContactAgreementAccepted= !isContactAgreementAccepted"></span>
              <span class="text" (click)="isContactAgreementAccepted= !isContactAgreementAccepted">Ürün ve hizmetlerle
                ilgili
              </span>
              <span class="link" (click)="privacyModal()">Müşterilere Yönelik Aydınlatma Metni</span>
              <span class="text" (click)="isContactAgreementAccepted= !isContactAgreementAccepted">
                kapsamında e-posta, telefon ve elektronik iletişim kanalları yoluyla
                ticari elektronik iletiler almayı kabul ediyorum.</span>
            </div>
          </ion-item>
        </div>
      </div>
      <div class="form-footer">
        <ion-button size="block" color="primary" (click)="registerCorporate()">HESAP OLUŞTUR</ion-button>
      </div>
    </form>
  </div>

</ion-content>