.assets-list { 
  margin-bottom: 16px; 
  padding: 7px;
  border: solid 1px #e9e9e9;
  border-radius: 10px;
  ion-row {
    margin-top: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    ion-col {
      margin: auto;
      div {
        text-align: center;
        img {
          width: 35px;
          height: 35px;
        }
      }
      h4 {
        font-size: 14px; 
      }
      p {
        font-size: 10px;
        color: black;
        margin-bottom: -4px;
      }
      ion-note {
        font-size: 10px;
      }
      .end {
        h4 {
          font-size: 16px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}
.segment-container {
  margin-bottom: 16px;

  ::before {
    content: " ";
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #f1f1f1;
  }

  .asset-segment {
    ion-segment-button {
      --color-checked: var(--ion-text-color);
      --color: #b1b1c5;
      --indicator-color: var(--ion-color-primary);
      --padding-start: 0;
      --padding-end: 0;
      text-transform: none;
      min-width: 80px;

      &::part(indicator) {
        z-index: 9;
      }

      img {
        margin-top: 6px;
        margin-bottom: 2px;
      }

      ion-label {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        letter-spacing: normal;
        margin-bottom: 6px;
        width: 100%;
      }
    }
  }
}
.center {
  text-align: center;
}
.form-container {
  margin: 16px;
}
.buy-btn {
  color: #16c784;
  --background: #ebebeb;
  --background-activated: #a0dbc5;
  min-width: 64px;
  max-height: 25px;
}
.sell-btn {
  color: #ff4747;   
   --background-activated: #e1b8b8;
  --background: #ebebeb;
  min-width: 64px;
  max-height: 25px;
}
.bold{
  font-weight: bold;
}
.div-left{
  text-align: center;
  max-width: 64px;
  float: left;
  h4{
    font-size: 12px !important;
      
    }
}
.div-right{
  text-align: center;
  max-width: 64px;
  float: right;
  h4{
  font-size: 12px !important;
    
  }
}