<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../../assets/img/branding/logo-sm.svg" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="ion-menu-button">
        <img src="../../../assets/img/icon/qrCode.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <div class="form-inner">
      <div class="form-items">
        <div class="segment-container">
          <ion-segment
            (ionChange)="segmentChanged($event)"
            class="asset-segment"
            mode="md"
            [value]="selectedSegment"
          >
            <ion-segment-button value="maden">
              <ion-label>MADEN</ion-label>
            </ion-segment-button>
            <ion-segment-button value="doviz">
              <ion-label>DÖVİZ</ion-label>
            </ion-segment-button>
            <ion-segment-button value="sarrafi">
              <ion-label>SARRAFİ</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div *ngFor="let symbol of symbols" class="assets-list">
          <ion-row>
            <ion-col size="2">
              <div>
                <img
                  src="../../../../assets/img/symbol/{{symbol?.matriksCode}}.svg"
                  (error)="checkImage($event)"
                  alt=""
                />
                <div class="currency-symbol d-none">
                  <div [ngClass]="(symbol.currencySymbol!=null && symbol.currencySymbol.length>1) ? 'font-big': 'font-small'">{{symbol?.currencySymbol}}</div>
                </div>
              </div>
            </ion-col>
            <ion-col size="5">
              <ion-label>
                <h4 class="bold">{{symbol?.name}}</h4>
                <p>{{symbol?.buy}} | {{symbol?.sell}}</p>
              </ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label>
                <div>
                  <img
                    src="../../../assets/img/icon/deleteMiniChart.svg"
                    alt=""
                  />
                </div>
                <p>%{{symbol.dailyChangePercent}}</p>
              </ion-label>
            </ion-col>
            <ion-col size="2">
              <div>
                <img src="../../../assets/img/icon/alarm.svg" />
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
</ion-content>
