<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <div class="form-inner">
      <div class="form-header">
        <h3>Fiziki Transfer Yatır </h3> 
      </div>
      <div class="form-items">
        <ion-item class="item-input" lines="none">
          <ion-select class="custom-options" value="" placeholder="Yatırılmak İstenen Ürün"
          (ionChange)="selectChangeMain($event)" okText="Tamam" cancelText="İptal">
          <ion-select-option value="Altın">Altın</ion-select-option>
          <ion-select-option value="Gumus">Gümüş</ion-select-option>
        </ion-select>
        </ion-item>
        <ion-item class="item-input" lines="none">
          <p-inputNumber [min]="0" [max]="999999" placeholder="Tutar" (onInput)="valueChange($event)"></p-inputNumber>
          <span class="text-muted" slot="end">TRY</span>
        </ion-item>
        <ion-item class="item-input" lines="none">
          <ion-select class="custom-options" value="" placeholder="İşlem Zamanı"
          (ionChange)="selectChangeMain($event)" okText="Tamam" cancelText="İptal"> 
        </ion-select>
        <ion-icon slot="end" name="calendar-outline"></ion-icon>
        </ion-item>
        <!-- <p-calendar [(ngModel)]="date9" view="month" dateFormat="mm/yy" [readonlyInput]="true" inputId="monthpicker" [showIcon]="true" inputId="icon"></p-calendar>


        <p-calendar [(ngModel)]="startAnalyzeModel" 
        [defaultDate]="defaultDate" 
        name="startAnalyze" 
        [showTime]="true" 
        [dateFormat]="dateFormat" 
        [locale]="ru"></p-calendar> -->
      <div style="text-align: center;">
        <div class="milyem">
          <p >milyem tablosu</p>
        </div>
      </div>
      </div>
    </div>

    <div class="form-footer">
      <ion-button routerDirection="forward" [routerLink]="['deposit-approve']" size="block" color="primary"
      style="margin: 0">DEVAM</ion-button>
    </div>
  </div> 
</ion-content> 