.row-margin{
    margin-top: 20%;
    ion-col{
        text-align: center;
    }
}
.row-detail{
    margin-top: 5%; 
    text-align: center;
    p{
        margin: 0px 20px;  font-size: 14px;
    }
}
ion-button{
    margin-bottom: 10px !important;
}