<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>


<ion-content>
  <div    class="form-container"  >
    <ion-grid class="gap-list">
      <ion-row class="row-margin">
        <ion-col  >
          <img   src="../../../../../assets/img/iconx/tick.png" alt="" />  
        </ion-col>
      </ion-row>
      <ion-row class="row-detail"  >
        <ion-col>
          <h3>Talebiniz İşleme Alındı!</h3>
          <p  >İşleminizin gerçekleşmesi 24 saat içinde olacaktır.</p>
        </ion-col>
      </ion-row>  
    </ion-grid>
    <div class="form-footer">  

      <ion-button
      routerDirection="forward"  
    [routerLink]="['../../../app/home']" 
        size="block" 
        color="primary"  
        >ANASAYFAYA DÖN</ion-button  > 
    </div>
  </div> 
</ion-content> 