<ion-header>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-align-self-center">
        <h2 style="color: #f1bf4b" class="title">Gizlilik Sözleşmesi</h2>
      </ion-col>
      <ion-col class="ion-text-right" size="auto">
        <ion-button fill="clear" (click)="closeModal()">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content class="ion-padding">
  <div>
    <p>
      1. Amaç: Taraflar, ihtiyaç duyulması halinde kullanılmak üzere taraflarca
      yapılacak tüm görüşmeler sırasında birbirlerine yapacakları açıklamalarda
      kendilerine ait bir takım Gizli Bilgileri birbirleri ile
      paylaşabileceklerdir. İşbu Sözleşme, Tarafların görüşmeleri süresince
      yapacakları çalışmalarda birbirlerine açacakları gizlilik dereceli
      bilgilerin mübadele usulünün belirlenmesi ve bir tarafça diğer tarafa
      açılan Gizli Bilgilerin korunmasına yönelik olarak hak ve yükümlülüklerin
      belirlenmesi amacıyla düzenlenmiştir. İşbu Sözleşme, Tarafları, herhangi
      bir doküman ve/veya bilgiyi birbirlerine açma/verme yükümlüğüne sokmaz.
      <br />
      <br />
      2. Gizli Bilginin Tanımı ve Kapsamı: İşbu sözleşmenin 1. maddesinde
      belirtilen amaç doğrultusunda Taraflar arasında mübadele edilebilecek
      “Gizli Bilgi”, bunların sahibi olan Taraf’ın, ticari sır mahiyetinde
      ve/veya mülkiyeti altındaki bilgilerinin tamamı anlamına gelir; bunlara
      herhangi bir sınırlama olmaksızın, tasarım bilgileri, teknik bilgiler,
      ticari sırlar, fikir ve buluşlar, projeler, çizimler, modeller, yazılım
      programları, algoritmalar, yazılım modülleri, program kaynak kodları,
      teknik özellikler, ürün plan ve teknolojileri, yazılım kullanıcı
      kitapçıkları, pazarlama bilgileri, müşteri listeleri, tahmin ve
      değerlendirmeler, finansal raporlar, kontrat hükümleri, kayıtlar ve söz
      konusu Taraf’ın işiyle ilgili tüm bilgi ve malzemeler, …………….’in
      kendisine, hissedarlarına, iştiraklerine, ruhsat vermiş olduğu diğer
      kişilere, müşterilerine ve danışmanlarına ilişkin her türlü ürün, mal ve
      hizmet, bunları elde etmede kullanılan yöntem, ticari sır, her türlü
      formül, know-how, patent, buluş, dizayn, müşteri listeleri, bütçe, iş
      geliştirme, pazarlama ve fiyatlama plan ve stratejileri ve benzeri her
      türlü bilgiyi kapsar.
    </p>
  </div>
  <!-- <div [innerHTML]="policy | sanitizeHtml"></div> -->
</ion-content>
