<ion-header  >
  <div class="shrinkable">


  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle class="ion-menu-button">
        <img class="invertable" src="../../../assets/img/icon/menu.svg">
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      <img src="../../../assets/img/branding/logo-sm.svg">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goNotification()">
        <div >
          <img class="invertable" src="../../../assets/img/icon/notification-filled.svg" alt="Icon" />
          <!-- *ngIf="appService.unreadNotificationsCount > 0"  /// {{appService.unreadNotificationsCount}} -->
          <ion-badge class="badge-notification">1</ion-badge>
        </div> 
      </ion-button>
      <ion-button (click)="start()" class="ion-menu-button">
        <img class="invertable" src="../../../assets/img/icon/qrCode.svg">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</div>
</ion-header>

<ion-content>
  <div  class="other-asset">
    <div class="segment-container">
      <ion-segment (ionChange)="segmentChanged($event)" class="asset-segment" mode="md" [value]="selectedSegment">
        <ion-segment-button value="gold">
          <img src="../../../assets/img/symbol/au.svg" />
          <ion-label>Altın</ion-label>
        </ion-segment-button>
        <ion-segment-button value="silver">
          <img src="../../../assets/img/symbol/ag.svg" />
          <ion-label>Gümüş</ion-label>
        </ion-segment-button>
        <ion-segment-button value="palladium">
          <img src="../../../assets/img/symbol/pd.svg" />
          <ion-label>Paladyum</ion-label>
        </ion-segment-button>
        <ion-segment-button value="platin">
          <img src="../../../assets/img/symbol/pt.svg" />
          <ion-label>Platin</ion-label>
        </ion-segment-button>
        <ion-segment-button value="all" >
          <img src="../../../assets/img/icon/tumP.svg" />
          <ion-label>Piyasalar</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>

  <div class="other-asset" *ngIf="selectedSegment!='all'">
    <div class="price-container">
      <div>
        <div class="price">
          <h3>{{symbol?.buyTRY}} TL</h3>
          <div [ngClass]="(symbol?.dailyChangePercent > 0)? 'text-success': 'text-danger'"   class="price-change ">
            <ion-icon [name]="(symbol?.dailyChangePercent > 0)? 'caret-up': 'caret-down'"  ></ion-icon>
            <p>(%{{symbol?.dailyChangePercent}})</p>
          </div>
        </div>
        <div  [ngClass]="(symbol?.dailyChangePercent > 0)? 'text-success': 'text-danger'"  class="price-info">
          <p>{{symbol?.difference}} </p>
        </div>
      </div>
      <ion-button (click)="goAlarm(symbol)" slot="end" fill="clear" size="normal">
        <img src="../../../assets/img/icon/alarm.svg" />
      </ion-button>
    </div>
    <div class="select-container">
      <ion-item lines="none">
        <img class="invertable" src="../../../assets/img/icon/clock.svg" />
        <ion-select (ionChange)="timeRangeChange($event)" [value]="selectedTimeRange" interface="action-sheet" cancelText="İptal">
          <ion-select-option value="1">5 Dakika</ion-select-option>
          <ion-select-option value="2">15 Dakika</ion-select-option>
          <ion-select-option value="3">30 Dakika</ion-select-option>
          <ion-select-option value="4">1 Saat</ion-select-option>
          <ion-select-option value="5">Günlük</ion-select-option>
          <ion-select-option value="6">Haftalık</ion-select-option>
          <ion-select-option value="7">Aylık</ion-select-option>
          <ion-select-option value="8">Yıllık</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none">
        <img class="invertable" src="../../../assets/img/icon/chart.svg" />
        <ion-select (ionChange)="chartTypeChange($event)" [value]="selectedChartType" interface="action-sheet" cancelText="İptal">
          <ion-select-option value="candle">Mum Grafik</ion-select-option>
          <ion-select-option value="line">Çizgi Grafik</ion-select-option>
        </ion-select>
      </ion-item>
    </div> 
    <div class="chart-container">
      <app-candle-chart *ngIf="selectedChartType == 'candle'" [data]="candleData"></app-candle-chart>
      <app-line-chart *ngIf="selectedChartType == 'line'" [data]="lineData" ></app-line-chart> 
    </div> 
    <div class="market-container">
      <h3>PİYASA VERİLERİ</h3>
      <div class="market-data">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col>
              <div class="market-value">
                <p class="label" slot="start">Alış</p>
                <p class="value " slot="end">{{symbol?.buyTRY}}</p>
              </div>
              <div class="market-value">
                <p class="label" slot="start">Açılış</p>
                <p class="value " slot="end">{{symbol?.opening}}</p>
              </div>
              <div class="market-value">
                <p class="label" slot="start">Düşük</p>
                <p class="value" slot="end">{{symbol?.minimum}}</p>
              </div>
              <div class="market-value">
                <p class="label" slot="start">Yıllık Düşük</p>
                <p class="value" slot="end">{{symbol?.minYear}}</p>
              </div> 
              <div class="market-value">
                <p class="label" slot="start">Hacim Adet</p>
                <p class="value" slot="end">{{symbol?.volumeLot}}</p>
              </div>
              <div class="market-value">
                <p class="label" slot="start">Net Değişim %</p>
                <p class="value" slot="end">{{symbol?.dailyChangePercent}}</p>
              </div>
            </ion-col>
            <ion-col>
              <div class="market-value">
                <p class="label" slot="start">Satış</p>
                <p class="value" slot="end">{{symbol?.sellTRY}}</p>
              </div>
              <div class="market-value">
                <p class="label" slot="start">Ö. Gün Kapanış</p>
                <p class="value" slot="end">{{symbol?.latestClosing}}</p>
              </div>
              <div class="market-value">
                <p class="label" slot="start">Yüksek</p>
                <p class="value" slot="end">{{symbol?.maximum}}</p>
              </div>
              <div class="market-value">
                <p class="label" slot="start">Yıllık Yüksek</p>
                <p class="value" slot="end">{{symbol?.maxYear}}</p>
              </div> 
              <div class="market-value">
                <p class="label" slot="start">Hacim TL</p>
                <p class="value" slot="end">{{symbol?.volumeTry}}</p>
              </div>
              <div class="market-value">
                <p class="label" slot="start">Net Değişim</p>
                <p class="value" slot="end">{{symbol?.difference}}</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div> 
    <div class="survey-container">
      <h3>BEKLENTİ</h3>
      <div class="ion-text-center">
        <h5>{{symbol?.name}} Beklenti Anketi</h5>
        <div class="survey-inner">
          <div class="survey-chart">
            <div class="survey-chart-side increasing" [style.width]="'50.50%'">
            </div>
            <div class="survey-chart-side decreasing" [style.width]="'49.50%'">
            </div>
  
            <div class="labels">
              <div class="label increasing">%49.50</div>
              <div class="label decreasing">%49.50</div>
            </div>
          </div>
  
          <div class="buttons">
            <ion-button fill="clear">
              <img src="../../../assets/img/sprite/thumbs-up-solid.png" alt="">
            </ion-button>
            <ion-button fill="clear">
              <img src="../../../assets/img/sprite/thumbs-down-solid.svg  " alt="">
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="all-asset" *ngIf="selectedSegment=='all'">
    <div class="form-container">
      <div class="form-inner">
        <div class="form-items">
          <div class="segment-container">
            <ion-segment
              (ionChange)="allSegmentChanged($event)"
              class="asset-segment"
              mode="md"
              [value]="selectedValue"
            >
              <ion-segment-button value="maden">
                <ion-label>MADEN</ion-label>
              </ion-segment-button>
              <ion-segment-button value="doviz">
                <ion-label>DÖVİZ</ion-label>
              </ion-segment-button>
              <ion-segment-button value="sarrafi">
                <ion-label>SARRAFİ</ion-label>
              </ion-segment-button>
            </ion-segment>
          </div>
          <div *ngFor="let symbol of symbols" class="assets-list">
            <ion-row>
              <ion-col size="2">
                <div>
                  <img
                  src="../../../assets/img/symbol/{{symbol?.isoCode}}.svg" 
                    (error)="checkImage($event)"
                    alt=""
                  />    
                  <div class="currency-symbol d-none">
                    <div [ngClass]="(symbol.currencySymbol!=null && symbol.currencySymbol.length>1) ? 'font-big': 'font-small'">{{symbol?.currencySymbol}}</div>
                  </div>
                </div>
              </ion-col>
              <ion-col size="5">
                <ion-label>
                  <h4 class="bold">{{symbol?.name}}</h4>
                  <p>{{symbol?.buy}} | {{symbol?.sell}}</p>
                </ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-label>
                  <div>
                    <img
                      src="../../../assets/img/icon/deleteMiniChart.svg"
                      alt=""
                    />
                  </div>
                  <p>%{{symbol.dailyChangePercent}}</p>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <div>
                  <img src="../../../assets/img/icon/alarm.svg" />
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>
