<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <div class="form-inner">
      <div class="form-header">
        <h3>İşlem Limitlerim</h3> 
      </div>
      <div class="form-items">
        <ion-item lines="none" > 
          <ion-note >
            YATIR
          </ion-note>
        </ion-item>
          <ion-item class="item-color" lines="none">
            <p slot="start">Altın</p>
            <p class="p-bold"  slot="end"  >Limitsiz</p>
          </ion-item> 
          <ion-item class="item-color" lines="none">
            <p slot="start">24 Saat TRY</p>
            <p class="p-bold"  slot="end"  >5,000,000 TRY</p>
          </ion-item> 
          <ion-item  class="item-color item-margin" lines="none">
            <p slot="start">30 Gün TRY</p>
            <p class="p-bold"  slot="end"  >20,000,000 TRY</p>
          </ion-item> 
          
          <ion-item lines="none"> 
            <ion-note >
              ÇEK
            </ion-note>
          </ion-item>
            <ion-item  class="item-color" lines="none">
              <p slot="start">Altın</p>
              <p class="p-bold"  slot="end"  >Çekim Yapamaz</p>
            </ion-item> 
            <ion-item class="item-color"  lines="none">
              <p slot="start">24 Saat TRY</p>
              <p class="p-bold"  slot="end"  >5,000,000 TRY</p>
            </ion-item> 
            <ion-item  class="item-color" lines="none">
              <p slot="start">30 Gün TRY</p>
              <p class="p-bold"  slot="end"  >20,000,000 TRY</p>
            </ion-item> 
      </div>
    </div>
 
  </div>
</ion-content>
 

 
 