 ion-note{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;  
  color: #7D8290;
 }
 ion-item{
    margin-bottom: 0px !important;
 }
 .item-margin{
  margin-bottom: 1em !important;
   
 }
 .item-color{
  --background: #F6F5F1;    
  font-size: 12px;
  .p-bold{
    color: #080A1E; 
    font-weight: bold;
  }
 }