ion-header {
    &::after {
        background-image: none !important;
    }

    ion-toolbar {
        --border-width: 0 !important;
        --min-height: 4em;
        --background: #ffffff;

        ion-back-button {
            --icon-font-size: 20px;
            padding-right: 12px;
            padding-left: 14px;
        }

        .ion-menu-button {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}

ion-item {
    font-size: 14px;
}

ion-tab-button {
    font-size: 12px;

    ion-label {
        font-size: 12px;
    }
}

ion-button {
    font-size: 14px;
}

.text-muted {
    color: var(--ion-color-medium);
}


.text-success {
    color: var(--ion-color-success);
}

.text-warning {
    color: var(--ion-color-warning);
}

.text-danger {
    color: var(--ion-color-danger);
}