.content{
    padding: 16px;
    ion-item{
        --min-height:0px;
        --padding-top: 0px;
        --padding-start: 0px;
        --padding-end: 0px;
        --inner-padding-end: 0; 
        padding-inline-end: 0px; 
        font-size: 12px;
        --background: #F6F5F1 ;
        border-radius: 10px;
    }
    .header{
        padding: 0px; 

    }
    p{ 
        padding: 0px 10px; 
        font-size: 12px;
        font-weight: bold;
        line-height: 12px;
    }
    .no-color{
        --background: none ;
    }
    ion-select{
        width: 100%;
        text-align: start;
      }
      .footer{
          margin-top: 40px;
          text-align: center;
          h3{
            font-size: 20px;
            line-height: 23px;  
            color: #080A1E;
          }
          h4{
            font-size: 16px;
            line-height: 19px; 
            letter-spacing: -0.248px;
          }
          p{
            font-size: 14px;
            line-height: 140%;
            font-weight: 600;
           
            color: #080A1E;
            text-align: start;
          }
      }
      .md-btn-segment { 
      ion-segment-button{
          --color-checked: #080A1E;
          --color: #080A1E;
          margin-top: 20px;
          margin-right: 5px;
          letter-spacing: normal;
          font-size: 12px;
          border: solid 1px #C3CDDB            ;
          --indicator-color: transparent;
          height: 30px;
          min-height: 30px;
          --indicator-height: 0px;
          --background-checked: #F1BC00;
          --border-radius: 50px;
    }}
}