 
<ion-content class="news">
  <ion-item lines="none">
    <h5>
      İpuçları ve Haberler
    </h5>
  </ion-item>
  <ion-item class="border" lines="none"> 
    <ion-label>
      <ion-item class="small-item" lines="none">
        <p class="smallB" slot="start"><b>HABER </b> 29 ARALIK</p>
        <p class="small" slot="end">00:01:26</p>
      </ion-item>

      <h2 class="ion-text-wrap">
        ALTIN VE GÜMÜŞ PIYASALARINDA HAFIF BASKI GÖRÜLÜYOR
      </h2>
      <p class="ion-text-wrap desc">
        Nymex ham petrol fiyatı hafif gerileyerek varil başına 73 $ seviyesinden işlem görüyor. Bu arada 10 yıllık ABD Hazine tahvil getirisi ise %1.481 seviyesinde.
      </p>
    </ion-label> 
  </ion-item>
  <ion-item class="border" lines="none"> 
    <ion-label>
      <ion-item class="small-item" lines="none">
        <p class="smallB" slot="start"><b>HABER </b> 29 ARALIK</p>
        <p class="small" slot="end">00:01:26</p>
      </ion-item>

      <h2 class="ion-text-wrap">
        ALTIN VE GÜMÜŞ PIYASALARINDA HAFIF BASKI GÖRÜLÜYOR
      </h2>
      <p class="ion-text-wrap desc">
        Nymex ham petrol fiyatı hafif gerileyerek varil başına 73 $ seviyesinden işlem görüyor. Bu arada 10 yıllık ABD Hazine tahvil getirisi ise %1.481 seviyesinde.
      </p>
    </ion-label> 
  </ion-item>
  <ion-item class="border" lines="none"> 
    <ion-label>
      <ion-item class="small-item" lines="none">
        <p class="smallB" slot="start"><b>HABER </b> 29 ARALIK</p>
        <p class="small" slot="end">00:01:26</p>
      </ion-item>

      <h2 class="ion-text-wrap">
        ALTIN VE GÜMÜŞ PIYASALARINDA HAFIF BASKI GÖRÜLÜYOR
      </h2>
      <p class="ion-text-wrap desc">
        Nymex ham petrol fiyatı hafif gerileyerek varil başına 73 $ seviyesinden işlem görüyor. Bu arada 10 yıllık ABD Hazine tahvil getirisi ise %1.481 seviyesinde.
      </p>
    </ion-label> 
  </ion-item>
  <ion-item class="border" lines="none"> 
    <ion-label>
      <ion-item class="small-item" lines="none">
        <p class="smallB" slot="start"><b>HABER </b> 29 ARALIK</p>
        <p class="small" slot="end">00:01:26</p>
      </ion-item>

      <h2 class="ion-text-wrap">
        ALTIN VE GÜMÜŞ PIYASALARINDA HAFIF BASKI GÖRÜLÜYOR
      </h2>
      <p class="ion-text-wrap desc">
        Nymex ham petrol fiyatı hafif gerileyerek varil başına 73 $ seviyesinden işlem görüyor. Bu arada 10 yıllık ABD Hazine tahvil getirisi ise %1.481 seviyesinde.
      </p>
    </ion-label> 
  </ion-item>
  <ion-item class="border" lines="none"> 
    <ion-label>
      <ion-item class="small-item" lines="none">
        <p class="smallB" slot="start"><b>HABER </b> 29 ARALIK</p>
        <p class="small" slot="end">00:01:26</p>
      </ion-item>

      <h2 class="ion-text-wrap">
        ALTIN VE GÜMÜŞ PIYASALARINDA HAFIF BASKI GÖRÜLÜYOR
      </h2>
      <p class="ion-text-wrap desc">
        Nymex ham petrol fiyatı hafif gerileyerek varil başına 73 $ seviyesinden işlem görüyor. Bu arada 10 yıllık ABD Hazine tahvil getirisi ise %1.481 seviyesinde.
      </p>
    </ion-label> 
  </ion-item>
</ion-content>
