<ion-content >

  <div class="content">
    <ion-item lines="none">
      <h5>
        İpuçları ve Haberler
      </h5>
    </ion-item>
    <ion-item  *ngFor="let item of news"  class="border" lines="none" detail="false"  > 
      <ion-label>
        <ion-item class="small-item" lines="none">
          <p class="smallB uppercase" slot="start"><b>HABER </b> {{formatDate(item)}}</p>
          <p class="small uppercase" slot="end">{{formatTime(item)}}</p>
        </ion-item>
        
        <h2 class="ion-text-wrap">
         {{item.baslik}}
        </h2>
        <div class="ion-text-wrap desc" [innerText]="getDescription(item)"></div> 

        <p >
        </p>
      </ion-label>
    
    </ion-item> 
 
  </div>
</ion-content>
