ion-item {
    --min-height: 30px;
    --border-color: #f2f2f2;
  }
  ion-label {
    font-size: 14px !important;
  }
  ion-note {
    font-size: 12px !important;
  }
  .padB {
    padding-bottom: 20px;
  }
  .padT {
    padding-top: 20px;
  }
  ion-icon {
    margin-right: 10px;
    font-size: 18px;
  }
  ion-button {
    padding: 0 20px;
  }