.username-input {
    --background: #f6f5f1;
    border-radius: 10px;
  }
  
  a {
    color: #f1bc00;
  }
  
  h3 {
    font-size: 28px;
    line-height: 33px;
    font-weight: bold;
  }
  ion-toolbar {
    --border-width: 0px;
    --background: white;
  }