.item-input {
  .prefix {
    margin-right: 0;
    span {
      font-weight: 600;
      padding-right: 8px;
      &:last-child {
        color: #d2d6e1;
      }
    }
  }
}

ion-button {
  margin-bottom: 1em !important;
}

a {
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
}

p {
  font-size: 14px;
}