ion-input {
  --background: #f4f4f5;
  width: 42px;
  height: 42px;
  text-align: center;
  margin: auto;
  --padding-start: 10px;
  font-size: 24px;
  border-radius: 50%;
  font-weight: bold;
}
ion-button {
  margin: 20px 0px;
}
.ion-text-center {
  p {
    font-size: 14px;
  }
}
ion-row {
  margin: 18px 0px;
}
.btn-height {
  height: 3.25em;
}
