<ion-header mode="ios"  >
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>

    <ion-segment slot="end" scrollable class="md-segment" mode="md"       value="sat"
    (ionChange)="segmentChanged($event)">
      <ion-segment-button value="al" routerDirection="forward"  
      [routerLink]="['/buySell/buy']"> 
        <ion-label>AL</ion-label>
      </ion-segment-button>
      <ion-segment-button value="sat"  >
        <ion-label>SAT</ion-label>
      </ion-segment-button>
      <ion-segment-button value="donustur" routerDirection="forward"  
      [routerLink]="['/buySell/convert']">
         <ion-label>DÖNÜŞTÜR</ion-label>  
        </ion-segment-button>
  </ion-segment>
 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-info ion-text-center">
    <img src="../../../assets/icon/buy.png" alt="" />
    <ion-label class="p1" slot="start">
    
      <p>1.308,10 TL</p>
      <ion-row style="    margin-left: 40%;
      "> 
        <ion-icon name="caret-up"></ion-icon>
        <p>(%1.25)</p>
      </ion-row>
    </ion-label> 
    <img src="../../../assets/icon/chart6.png" alt="" />
 
  </div>

  <div class="div-input ion-text-center"> 
    <ion-item style=" --background: #e8e8e8;margin: 0px 25px; border-radius: 10px; margin-bottom: 0px;" lines="none">
      <ion-input slot="start" ></ion-input> 
      <p slot="end" style="color: #7C7F97  ;">TRY</p>
    </ion-item> 
    <ion-item lines="none" style="text-align: start; margin: 10px;">
      <p  slot="start" style="color: #7C7F97  ;font-size: 10px;  ">Kulanılabilir Bakiye
      <b style="color: #080A1E  ;font-size: 10px; ">12.450 TRY</b> </p>
    </ion-item>


  </div>
  <div class="div-select ion-text-center">
     <ion-button  (click)="changeCurrency()" color="light">
      %25
    </ion-button>
    <ion-button (click)="changeCurrency()" color="light">
      %50
    </ion-button>
    <ion-button (click)="changeCurrency()" color="light">
      %75
    </ion-button>
    <ion-button (click)="changeCurrency()" color="light">
      %100
    </ion-button>
  </div>

  <div style="    margin-top: 30px;
  border-top: 1px solid #E7E7E7;">
    <ion-item style=" margin: 0px 25px; border-radius: 10px; margin-bottom: 0px;    font-size: 12px;  " lines="none">
      <p slot="start" style="color: #7C7F97  ;" >Komisyon:</p> 
      <p slot="end" style="color: #7C7F97  ;">0 TRY</p>
    </ion-item> 
    <ion-item style=" margin: 0px 25px; border-radius: 10px; margin-bottom: 0px;    font-size: 12px;  " lines="none">
      <p slot="start" style="color: #7C7F97  ;" >Toplam:</p> 
      <p slot="end" style="color: #7C7F97  ;">0 TRY</p>
    </ion-item> 
  </div>
  <div class="div-btn ion-text-center">
    <ion-button class="btn1" expand="block" color="danger">SAT</ion-button>
  </div>
</ion-content>
