ion-header {
    --opacity-scale: 0 !important;
  
    ion-toolbar {
    --border-width: 0px;
    --background: white;
    }
    .header-btn {
      width: 75px;
      font-weight: bold;
      height: 25px;
    }
  }
  
  .div-info {
    text-align: center;
    margin-top: 10%;
    ion-button {
      --background: white;
      color: #b1b1c5;
    }
  }
  .div-input {
    //width: 140px;
    margin-top: 5%;
    ion-item {
      margin: 0 25%;
    }
    ion-label {
      color: #b1b1c5;
      font-size: 16px;
    }
    ion-input {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
  }
  .center-button {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-label {
      margin: auto;
      color: #b1b1c5;
      font-size: 16px;
    }
    ion-input {
      font-size: 48px;
      font-weight: bold;
    }
  }
  .div-select {
    margin-top: 20%;
    ion-button {
      width: 75px;
      height: 30px;
    }
    p {
      color: #b1b1c5;
      font-size: 12px;
    }
    ion-icon {
      padding-left: 10px;
    }
  }
  .div-btn {
    margin: 20% 4%;
  }
  ion-label {
    min-width: 60% !important;
    ion-row {
      p {
        margin: auto 0;
      }
    }
    ion-icon {
      margin: auto 5px;
      font-size: 12px;
      color: #FF4747;
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
    }
    p {
      color: #FF4747;
      font-size: 12px;
    }
  }
  .md-segment{
    ion-segment-button {
      letter-spacing: normal;
      --indicator-color: #f1be4b;
      --indicator-height: 2px;
      } 
  }