 
<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; margin: 16px;">
    <ion-label>
      <h4><b>1 gr Altın = 130 TRY</b></h4>
      <ion-note style="font-size: 12px;">
        Size özel döviz kuru 5 sn ile sabitlenmiştir.
      </ion-note>
    </ion-label>
  </div>
  <div style="text-align: center; margin-bottom: 36px;">

  <img src="../../../assets/icon/loader.png" alt="" />

  </div>
  <ion-item lines="none">
    <h4><b>İşlemi Onayla</b></h4>

  </ion-item>

    <ion-item style=" --background: #F6F5F1;    ;font-size: 12px; margin:0px 16px;
    " lines="none">
      <p slot="start">Alınan Ürün</p>
      <p slot="end" style="color: #080A1E; font-weight: bold;">Altın Satış</p>
    </ion-item> 
    <ion-item style=" --background: #F6F5F1;    ;font-size: 12px; margin:0px 16px;
    " lines="none">
      <p slot="start">Çıktı Ürün, Miktar</p>
      <p slot="end" style="color: #080A1E; font-weight: bold;">5,000,000 TRY</p>
    </ion-item> 
    <ion-item style=" --background: #F6F5F1;    ;font-size: 12px; margin:0px 16px;
    " lines="none">
      <ion-label  >
        <p style="    font-size: 13px;
        color: #010101;">Teslimat Adresi</p>
        <ion-note   class="ion-text-wrap"  >Ofis - Kuruçeşme Mahallesi Yeşilpınar Sokak Seden Apt. No:8/2 Beşiktaş / İSTANBUL 34345 </ion-note>
      </ion-label> 
    </ion-item> 
    <ion-item style=" --background: #F6F5F1;    ;font-size: 12px; margin:0px 16px;
    " lines="none">
      <p slot="start">İşlem Zamanı</p>
      <p slot="end" style="color: #080A1E; font-weight: bold;">12.01.2022</p>
    </ion-item> 
    <ion-item style=" --background: #F6F5F1;    ;font-size: 12px; margin:0px 16px;
    " lines="none">
      <p slot="start">Komisyon Hizmeti</p>
      <p slot="end" style="color: #080A1E; font-weight: bold;">0,25 TRY</p>
    </ion-item> 
    <ion-item style=" --background: #F6F5F1;    ;font-size: 12px; margin:0px 16px;
    " lines="none">
      <p slot="start">Toplam Miktar</p>
      <p slot="end" style="color: #080A1E; font-weight: bold;">5,000,025 TRY</p>
    </ion-item> 
 
  
</ion-content>
<ion-footer> 
  <ion-button   routerDirection="forward"  
  [routerLink]="['../orders-approve-confirm']"
  color="primary" expand="full">ONAYLA</ion-button>
</ion-footer>