ion-toolbar {
    --background: white;
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
    --border-width: 0 !important;
  }
  ion-note{
    font-size: 12px;     
    color: #7D8290;
    margin: 20px 0px;
  } 