<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div    class="form-container" style="margin: 10px">
    <ion-grid class="gap-list">
      <ion-row style="margin-top: 0%">
        <ion-col>
          <h3>Banka Hesaplarım</h3>
        </ion-col>
      </ion-row> 
      <ion-row   >
        <ion-col>
          <ion-item  class="username-input" lines="none">
            <ion-input value="Ev "  ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row    >
        <ion-col>
          <ion-item  class="username-input" lines="none">
            <ion-input value="Ali Yıldırım"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row    >
        <ion-col>
          <ion-item  class="username-input" lines="none">
            <ion-input value="TR99 9999 9999 9999 9999 99"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    
      <ion-row style="margin-top: 50%">
        <ion-col>
         
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 0%">
        <ion-col>
 
        </ion-col>
      </ion-row>
 
    </ion-grid>
  </div> 
</ion-content>
<ion-footer>
  <ion-button routerDirection="forward" [routerLink]="['../account-approve']" size="block" color="medium"
  fill="outline" style="margin: 0"  >HESABI SİL</ion-button>
  <ion-button
  routerDirection="forward"  
 [routerLink]="['../']" 
    size="block" 
    color="primary" 
    style="margin: 0"
    
    >DEĞİŞİKLERİ KAYDET</ion-button
  >
</ion-footer>