ios-segment{
  padding: 0px 16px;
}
.content {
  //padding: 16px;

  .heat-map-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .heat-map-item {
      flex: 0 0 25%;
      display: flex;
      justify-content: center;
      align-items: stretch;
      padding: 0;
      box-sizing: border-box;
      border: 0.01em solid black;
      background-color: rgb(193, 196, 205);

      &:before {
        content: "";
        display: table;
        padding-top: 100%;
      }

      .heat-map-item-inner {
        flex-grow: 1;
        color: white;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .symbol {
          position: absolute;
          top: 4px;
          left: 4px;
          font-weight: bold;
          font-size: 12px;
          p {
            font-size: 12px;
            text-align: left;
            margin: 0;
            padding-bottom: 4px;
          }
        }

        .diff {
          position: absolute;
          right: 4px;
          bottom: 4px;
          p {
            font-size: 12px;
            text-align: right;
            margin: 0;
            padding-top: 4px;
          }
        }
      }

      &.success-1 {
        background-color: rgb(66, 189, 127);
      }
      &.success-2 {
        background-color: rgb(8, 153, 80);
      }
      &.success-3 {
        background-color: rgb(5, 102, 54);
      }
      &.danger-3 {
        background-color: rgb(153, 31, 41);
      }
      &.danger-2 {
        background-color: rgb(242, 54, 69);
      }
      &.danger-1 {
        background-color: rgb(247, 124, 128);
      }
    }
  }
}
