<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons class="p1" slot="end">
      <div class="stepper active"></div>
      <div class="stepper"></div>
      <div class="stepper"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="form-container">
    <div class="form-items">
      <div class="shield">
        <img src="../../../../assets/img/auth/shield.svg" alt="" />
      </div>
      <ion-item button detail="false" class="item-large-select" lines="none" [routerLink]="['../register/1']">
        <ion-label>
          <p>Bireysel</p>
          <ion-note>Kişisel bilgilerinizi kaydettik.</ion-note>
        </ion-label>
      </ion-item>

      <ion-item button detail="false" class="item-large-select" lines="none" [routerLink]="['../register/2']">
        <ion-label>
          <p>Kurumsal</p>
          <ion-note>2 Adımda doğrulama ile hesabınızı güvenli hale getirin.</ion-note>
        </ion-label>
      </ion-item>
    </div>
    <div class="form-footer">
      <ion-button size="block" color="primary">DEVAM</ion-button>
    </div>
  </div>
</ion-content>