<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="transfer/deposit-eft"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="form-container">
    <div class="form-inner">
      <div class="form-header">
        <h3>Banka Transferi ile Para Yatır</h3> 
      </div>
      <div class="form-items">
        <ion-list>
          <div class="items-border">
            <ion-item class="item-input double" lines="none">  
              <img slot="start"   src="../../../../../assets/img/bank/akbank.svg" alt="" />   
                <h5 slot="end" class="ion-text-wrap" >
                 Akbank
                </h5>  
            </ion-item> 
            <ion-item class="item-input" lines="none">   
              <ion-label>
                <p class="title">Yatırılacak IBAN</p>
                <p class="desc">TR73 3383 8339 9393 3738 3373</p>
              </ion-label>
              <ion-thumbnail (click)="getCopy()" class="btn-icon" slot="end" >
                <ion-icon name="copy-outline"></ion-icon>
              </ion-thumbnail> 
            </ion-item> 
            <ion-item class="item-input" lines="none">   
              <ion-label>
                <p class="title">Hesap Sahibi</p>
                <p class="desc">Aritmetik Yazılım Ticaret A.Ş.</p>
              </ion-label>
              <ion-thumbnail (click)="getCopy()"  class="btn-icon" slot="end" >
                <ion-icon name="copy-outline"></ion-icon>
              </ion-thumbnail>
            </ion-item> 
          </div> 
          <div class="item-txt">
            <ion-item lines="none">
              <ion-note>• Türkiye’de yerleşik bankalardan adınıza açılmış vadesiz Türk Lirası hesabınız ile aşağıdaki bankalara havale ve FAST ile 7/24 veya EFT saatlerinde Türk Lirası yatırabilirsiniz.</ion-note> 
            </ion-item>
            <ion-item lines="none">
              <ion-note>• Türkiye’de yerleşik bankalardan adınıza açılmış vadesiz Türk Lirası hesabınız ile aşağıdaki bankalara havale ve FAST ile 7/24 veya EFT saatlerinde Türk Lirası yatırabilirsiniz.</ion-note> 
            </ion-item>
          </div> 
        </ion-list>
      </div>
    </div>

  </div>
</ion-content>



