.double {
  img {
    padding: 1em 0em;
  }
}

.items-border {
  ion-item:last-child {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }
  ion-item:first-child {
    border: solid 1px #ececec;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
  }

  ion-item {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
  }
  margin-bottom: 1em;
  .title {
    color: #080a1e !important;
    font-weight: 600;
  }
  .desc {
    color: #080a1e !important;
    font-size: 12px !important;
  }
}
.btn-icon:active {
  width: 33px;
  height: 33px;
  background: #d8d7d4;
}
.btn-icon{
  width: 32px;
  background: #F1BC00;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 32px;
  border-radius: 5px;
  ion-icon{
    width: 16px;
    height: 16px;
  }
}
.item-txt{
  ion-item {
   // --padding-start:0px; 
  }
  ion-note{
    color: #7C7F97;
    font-size: 14px;
  }
}