<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div    class="form-container" style="margin: 16px">
    <ion-grid class="gap-list">
      <ion-row style="margin-top: 0%;">
        <ion-col>
          <h3>Hesaba Çekim </h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-note>Hesabınıza para çekmek için aşağıdaki bilgileri kontrol edin ve onaylayın.</ion-note>
        </ion-col>
      </ion-row>

      <ion-row  style="margin-top: 16px">
        <ion-col>
          <ion-item   class="username-input" lines="none">
            <img slot="start" src="../../../assets/icon/bank/fiba.png" alt="" /> 
            <ion-label>
              <p  style="    color: black;
              font-weight: bold;">Ev - Fibabanka </p>
              <ion-note style="    font-size: 12px;
              ">TR99 9999 9999 9999 9999 99</ion-note>
            </ion-label> 
          </ion-item>
        </ion-col>
      </ion-row>
      <div    class="haber">
        <div style="margin-top: 16px;"> 
          <ion-item  class="border" lines="none" style="margin-top: 0px;    border-bottom: 0;">  
                <ion-note slot="start">Çekilecek Tutar</ion-note>
                <p slot="end">1.200 TRY</p> 
          </ion-item>
          <ion-item  class="border" lines="none" style="margin-top: 0px;    border-top: 0;">  
            <ion-note slot="start">İşlem Ücreti</ion-note>
            <p slot="end"> 1,45 TRY</p> 
      </ion-item>
      <ion-item  class="border" lines="none" style="margin-top: 0px;    ">  
        <ion-note slot="start">Toplam Miktar</ion-note>
        <p slot="end"> 1.214 TRY</p> 
  </ion-item>
        </div>
  
      </div>
 
      <ion-row style="margin-top: 35%">
        <ion-col>
         
        </ion-col>
      </ion-row>
 
    </ion-grid>
  </div> 
</ion-content>
<ion-footer>
  <ion-button 
  routerDirection="forward"  
  [routerLink]="['../../../home']"
    size="block" 
    color="primary" 
    style="margin: 0" 
    >ONAYLA</ion-button
  >
</ion-footer>