<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <form [formGroup]="passwordForm" (ngSubmit)="registerRetail()">
    <div class="form-inner">
      <div class="form-header">
        <h3>Şifre Değişikliği</h3> 
      </div>
      <div class="form-items">
        <ion-item lines="none" class="item-input">
          <ion-input placeholder="Lütfen bir şifre belirleyin" formControlName="currentPassword" type="password"></ion-input>
          <span slot="end">
            <ion-icon name="eye-outline"></ion-icon>
          </span>
        </ion-item>
        <ion-item lines="none" class="item-input">
          <ion-input placeholder="Yeni Şifre" formControlName="newPassword" type="password"></ion-input>
          <span slot="end">
            <ion-icon name="eye-outline"></ion-icon>
          </span>
        </ion-item>
        <ion-item lines="none" class="item-input">
          <ion-input placeholder="Yeni Şifre Tekrar" formControlName="repeatPassword" type="password"></ion-input>
          <span slot="end">
            <ion-icon name="eye-outline"></ion-icon>
          </span>
        </ion-item>
      </div>
    </div>

    <div class="form-footer">
      <ion-button routerDirection="forward" [routerLink]="['password-approve']" size="block" color="primary">GÜNCELLE
      </ion-button> 
    </div>
  </form>
  </div>
</ion-content> 
