<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <div class="form-inner">
      <div class="form-header">
        <h3>Kredi Kartı ile Para Yatır</h3>
        <ion-note>Hesabınıza yatırmak istediğiniz miktarı girin. </ion-note>
      </div>
      <div class="form-items">
        <ion-item class="item-input" lines="none">
          <p-inputNumber [min]="0" [max]="999999" placeholder="Tutar" (onInput)="valueChange($event)"></p-inputNumber>
          <span class="text-muted" slot="end">TRY</span>
        </ion-item>
      </div>
    </div>

    <div class="form-footer">
      <ion-button [disabled]="!isValid" routerDirection="forward" [routerLink]="['choose-card']" size="block"
        color="primary">DEVAM</ion-button>
    </div>

  </div>
</ion-content>