ion-header {
  ion-toolbar {
    --background: white;
    --border-width: 0px;

  }
}
.info{
  text-align: center;
  font-weight: bold;
  p{
    font-size: 12px;
    font-weight: bold;
  }
  h3{
    font-weight: bold;
  }
}
.process-btn{
  margin: 10px;

  div{
    width: 73px;
    font-size: 12px;
    text-align: center;
    height: 84px;
    border-radius: 10px;
    border: solid 1px #E9E9E9;
  }
  ion-icon{
    width: 40px;
    margin: 10px 10px 5px 10px;
    height: 40px;
    color: #F1BC00;
  }

}
.md-div {
  margin: 22px 20px;
}
.list-row{
  ion-row{
    margin: 15px;
    border: solid 1px #E9E9E9 ;
    border-radius: 10px;
    ion-col
    {
      margin: auto;
      div{
        text-align: center;
        img{
          width: 35px;
          height: 35px;
        }
    
      }
      h4{
        font-size: 14px;
        font-weight: bold;
      }
      p{
        font-size: 10px;
        color: black;
      }
      ion-note{
        font-size: 10px;

      }
      .end{
       
        h4{
          font-size: 16px; 
        }
        p{
          font-size: 12px;  
        }
      }
    } 
  }
}
.select-div {
     
  font-weight: 600;

  .remove-arrow::part(icon) {
    display: none !important;
  }
  margin: 10px 10px;
  ion-item {
    border-radius: 10px;
    --background: #f6f5f1;
    font-size: 12px;
    --min-height: 40px;
  }
  ion-icon {
    padding: 3px;
  }
}
.variable-header-div {
  margin: 10px 20px;
  margin: 15px;
  p{
      font-size: 14px;
  color: #16C784;
  }
  h3{
    font-size: 20px;
    font-weight: bold;
  }
  h4{
    font-size: 14px;
    font-weight: bold;
  }
}
.share-div{
  border-bottom: solid 1px #f1f1f1;
  border-top: solid 1px #f1f1f1;
 
  ion-item{ 
  margin: 18px;
  border: solid 1px #E9E9E9;
  border-radius: 10px;
    p{
      font-size: 12px;
      font-weight: bold;
    }
    ion-icon{
      color: #F1BC00 ;  
      width: 20px;
      height: 20px;  
    }
  }
}
.variable-header-div {
  margin: 10px 20px;
 // border-bottom: solid 1px #f1f1f1;
}
// .variable-div {
//   ion-item {

//   --padding-start: 7px;

//     border-bottom: solid 1px #f1f1f1;
//     --min-height: 35px;
//     font-size: 11px;
//    div{
//     margin-left: auto;
//     margin-right: auto;
//     .up{
//       color: #16C784
//       ;
//     }
//     .down{
//       color: #FF4747
//       ;
//     }
//     }
//   }
//   .p3 {
//     color: #7c7f97;
//     margin: 0;
//     text-align: center;

//   }
//   .p1 {
//       color: #7c7f97;
    
     
//   }
//   .p2 {
//       color: #7C7F97;
   
//      font-weight: bold;
//   }
// }
ion-footer {
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  ion-toolbar {
    --min-height: 60px !important;
    --border-style: none;
  }
  ion-tab-bar {
    height: 60px !important;
    --background: white;
    border: 0px !important;
    border-top-color: transparent !important;
    background-image: none !important;
    border-top: none !important;
  }
  ion-tab-button {
    color: black;
  }

  ion-button {
    width: 85px;
    height: 35px;
    display: block;
  }
  .btn1 {
    margin: 0 10px 0 20px;
  }
  .btn2 {
    margin: 0 20px 0 0px;
  }
}

ion-grid{
    .border-item{
      border-top: 1px solid #F1F1F1;
      border-left: 1px solid #F1F1F1;
      border-right: 1px solid #F1F1F1; 
    } 
}
.md-segment{
  ion-segment-button {
      font-weight: bold;
      letter-spacing: normal;
      --indicator-color: #f1be4b; 
      --indicator-height: 5px;
    } 
}
.ios-segment {
  margin: 20px;


  ion-segment-button {
  //  font-weight: bold;
    letter-spacing: normal;
    --indicator-color: #f1be4b; 
  } 
}
.down {
  ion-row {
    height: 25%;
    margin: 0px 10px;
  }
  ion-col {
      color: #576265;
      margin-bottom: auto;
      margin-top: auto;
      text-align: center;
      padding: 6% 0px;
      font-size: 30px;
    p {
      font-size: 30px;
    }
  }
}

.up ion-row {
  height: 100%;
}
.up ion-col {
  margin-top: auto;
  margin-bottom: auto;
}
.sub{
  margin-top: 20px
}
.up ion-label,
ion-icon {
  text-align: end;
}
.up p {
  color: white;
  font-size: 22px;
}
ion-select {
  width: 110px;
  font-size: 14px;
  color: #080A1E;
}
.info {
  margin-top: 5px;
  color: #bfbfbf;
  ion-checkbox {
    margin-left: 8px;
    --size: 16px;
  }
  ion-label {
    font-size: 20px;
  }
}
.info ion-col {
  margin-bottom: auto;
  margin-top: auto;
}

.haber{
  h5{
      font-size: 15px;
      line-height: 16px;
      font-weight: bold;
      color: #080A1E;
  }
  .small-item{
      --padding-start: 0px;
      border: none;
      margin: 0px;
  }
  .smallB{
      font-size: 10px;
      color: black;
  }
  .small{
      font-size: 10px;
      color: #7C7F97  ;
  }
  .border{
      border: solid 1px #ECECEC;
      margin: 20px;
  }
  h2{
      margin-top: 10px;

      font-weight: bold;
  }
  .desc{
      margin-top: 10px;

      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.5px; 
      color: #333333;
  }
}
.metal{
  ion-select{
    width: 100%;
    text-align: start;
  }
}
.md-btn-segment ion-segment-button{
  margin-top: 20px;
  letter-spacing: normal;
  font-size: 12px;
  --indicator-color: transparent;
  height: 30px;
  min-height: 30px;
  --indicator-height: 0px;
  --background-checked: #F1BC00;
  --border-radius: 50px;
}
.yazin{
  .username-input {
    border-radius: 10px;
    border: 2px solid #F1F1F1;
    font-size: 14px;
    --background: #F1F1F1;
  }
} 
.arayin{
  ion-note{
    font-size: 14px;
    color: #7C7F97;

  }
}
.haber{
  ion-item{
    font-size: 14px;
    line-height: 25px;
  }
}
.swiper-pagination-bullet {
  --bullet-background: #00a0be;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
   --bullet-background: transparent;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 5%!important;
}