.content{
    padding: 16px;

    ion-select{
        width: 100%;
        text-align: start;
      }

    .p1{
        
        font-size: 11px; font-weight: bold; margin-top: 16px;
        line-height: 12px;
    }
    .d1{
        margin-top: 25px;
        border-top: 1px solid #F2F2F2;
    }
    .p2{
       
        font-size: 12px;
        font-weight: 600;
        margin-top: 40px;
        line-height: 12px;
    }
    .item{
        height: 15%;     margin: 16px 0px;

          --background: #F6F5F1;
          border-radius: 10px;
    }
    .up{
        height: 15%;     margin: 16px 0px;

    background: #F6F5F1;
    border-radius: 16px;
    }
}