<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div    class="form-container" style="margin: 10px">
    <ion-grid class="gap-list">
      <ion-row style="margin-top: 20%">
        <ion-col style="text-align: center;">
          <img   src="../../../assets/icon/cancel.png" alt="" /> 
          
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 5%; text-align: center;" >
        <ion-col>
          <h3>İşlem Onayı</h3>
          <p style="  margin: 0px 20px;  font-size: 14px;
          ">Bu banka hesabını silmek istediğine emin misin?</p>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 35%">
        <ion-col>
          <ion-button routerDirection="forward" [routerLink]="['../']" size="block" color="medium"
            fill="outline" style="margin: 0"  >VAZGEÇ</ion-button>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 0%">
        <ion-col>
          <ion-button
          routerDirection="forward"  
          [routerLink]="['../../bank-account']"
            size="block" 
            color="warning" 
            style="margin: 0"
             
            >ONAYLA</ion-button
          >
        </ion-col>
      </ion-row>
 
    </ion-grid>
  </div> 
</ion-content>
