<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 

 

<ion-content>
  <div    class="form-container" style="margin: 10px">
    <ion-grid class="gap-list">
      <ion-row class="row-margin">
        <ion-col  >
          <img   src="../../../../../../assets/img/iconx/cancel.png" alt="" />  
        </ion-col>
      </ion-row>
      <ion-row class="row-detail"  >
        <ion-col>
          <h3>İşlem Onayı</h3>
          <p>Bu banka hesabını silmek istediğine emin misin?</p>
        </ion-col>
      </ion-row>  
    </ion-grid>


    <div class="form-footer">  
      <ion-button routerDirection="forward" [routerLink]="['../']" size="block" color="medium"
      fill="outline" style="margin: 0"  >VAZGEÇ</ion-button>

      <ion-button
      routerDirection="forward"  
    [routerLink]="['../../../../app/home']" 
        size="block" 
        color="primary"  
        >ONAYLA</ion-button  > 
    </div>

  </div> 
</ion-content>
