<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>
 

<ion-content>
  <div    class="form-container"  >
    <div class="form-items">
      <div class="list-row">
        <ion-row  > 
          <ion-col>
            <img   src="../../../../../assets/img/iconx/tick.png" alt="" />  
          </ion-col>
      </ion-row>
      <ion-row   > 
        <ion-col> 
          <h3>Siparişiniz İşleme Alındı!</h3>
          <p  >İşleminizin gerçekleşmesi 24 saati bulabilir..</p> 
        </ion-col>
      </ion-row>
      </div>
    </div>
   
 
  
    <div class="form-footer">
      <ion-button
      routerDirection="forward"  
    [routerLink]="['../../../app/home']" 
        size="block" 
        color="primary"  
        >ANASAYFAYA DÖN</ion-button
      >
    </div>
  </div> 
</ion-content> 