<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons class="p1" slot="end">
      <div class="stepper-div stepper-div-color"></div>
      <!-- <div *ngIf="step==1" class="stepper-div"></div>
      <div *ngIf="step==2" class="stepper-div stepper-div-half-color"></div> -->
      <div class="stepper-div"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div 
    class="form-container"
    style="margin: 5px; text-align: center"
  >
    <ion-grid class="gap-list">
      <ion-row style="margin-top: 10%">
        <ion-col>
          <img src="../../../assets/icon/card.svg" alt="" />
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 5%; text-align: start">
        <ion-col>
          <h3>Hesabını güvende tutalım</h3>
        </ion-col>
      </ion-row>

      <ion-row class="row-border">
        <!-- <ion-col size="2">
          <ion-input
            [readonly]="true"
            class="input-active"
            type="number"
            name="password"
            value="1"
          >
          </ion-input>
        </ion-col> -->
        <ion-col style="text-align: start" size="10">
          <p>Hesap Oluştur</p>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="row-border">
        <!-- <ion-col size="2">
          <ion-input
            [readonly]="true"
            class="input-deactive"
            type="number"
            name="password"
            value="2"
          >
          </ion-input>
        </ion-col> -->
        <ion-col style="text-align: start" size="10">
          <p>Hesap Güvenliği</p>
          <ion-note>2 Adımda Doğrulama</ion-note>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="row-border">
        <!-- <ion-col size="2">
          <ion-input
            [readonly]="true"
            class="input-deactive"
            type="number"
            name="password"
            value="3"
          >
          </ion-input>
        </ion-col> -->
        <ion-col style="text-align: start" size="10">
          <p>Kimlik Doğrulama</p>
          <ion-note>Finansal işlemler için gereklidir</ion-note>
        </ion-col>
        <ion-col size="2">
          <p>5dk</p>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 30%">
        <ion-col>
          <ion-button
          routerDirection="forward" 
          [routerLink]="['../../tabs/home']"
          size="block" color="warning" style="margin: 0"
            >DEVAM</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
