<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons class="p1" slot="start">
      <ion-back-button mode="md" defaultHref="app/home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <div class="form-inner">
      <div class="form-header">
        <h3>Hesaba Çekim</h3>
        <ion-note>Hesabınıza aktarmak istediğiniz miktarı girin.</ion-note>
      </div>
      <div class="form-items">
        <ion-item class="item-large-select" lines="none">
          <ion-select [(ngModel)]="selectedAccountId" placeholder="Hesap Seçiniz" interface="action-sheet" okText="Tamam"
            cancelText="İptal">
            <ion-select-option *ngFor="let account of accounts" [value]="account.id">
              {{account.name}} - {{account.bank?.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="item-input" lines="none">
          <p-inputNumber [min]="0" [max]="999999" placeholder="Tutar" (onInput)="valueChange($event)"></p-inputNumber>
          <span class="text-muted" slot="end">TRY</span>
        </ion-item>
        <div class="balance">
          <span slot="end">Mevcut Bakiye: <b>1.200 TRY</b></span>
        </div>
      </div>
    </div>
    <div class="form-footer">
      <ion-button size="block" color="primary" (click)="goApprove()">DEVAM
      </ion-button>
    </div>
  </div>
</ion-content>